@media screen and (max-width: 1024px) {
    .container {
        max-width: 750px;
        margin: auto;
        padding: 54px 30px 0;
        transition: .3s linear;
        box-sizing: border-box;
    }

    /* [D] SECTION HERO */

    .title_hero {
        font-size: 38px;
    }

    .txt_hero {
        font-size: 16px;
    }

    .list_hero_total {
        margin-top: 20px;
    }

    .list_hero_total .total_item {
        width: 90px;
    }

    .list_hero_total .number_total {
        font-size: 22px;
    }

    .list_hero_total .txt_total {
        font-size: 16px;
    }

    /* [D] SECTION COLLECTION */
    .section_collection {
        padding: 40px 0;
    }

    .title_content {
        font-size: 28px;
    }

    .text_content {
        font-size: 16px;
    }

    .list_collection {
        flex-wrap: wrap;
    }

    .colection_item {
        flex-basis: calc(50% - 15px);
        margin-bottom: 30px;
    }

    .colection_item:nth-child(2n+1) {
        margin-left: 0;
    }

    /* [D] SECTION HEADLINE */
    .section_headline {
        padding: 40px 0;
    }

    .section_headline .text_content,
    .section_headline .title {
        max-width: 343px;
    }

    .section_headline .btn_headline {
        top: 52px;
    }

    .list_card .card_item {
        flex-basis: calc(50% - 15px);
    }

    .list_card .card_item a {
        flex-direction: unset;
        justify-content: unset;
    }

    .list_card .card_item:nth-child(2n+1) {
        margin-left: 0;
    }

    .card_item .image_card {
        width: 60px;
        padding-bottom: 60px;
    }

    .card_item .card_user {
        align-items: unset;
        margin-left: 20px;
    }

    .card_item .title {
        margin-top: 0;
    }

    .card_no {
        top: 13px;
        left: 12px;
    }

    /* [D] SECTION CATEGORY */
    .section_category {
        padding: 40px 0;
    }
    
    .category_item .category_title {
        padding: 20px 20px 25px;
    }

    .category_item .title {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 54px 30px 0;
        transition: .3s linear;
    }

    /* [D] SECTION HERO */

    .section_hero {
        position: relative;
        padding: 40px 0;
    }

    .row_hero {
        flex-wrap: wrap;
    }

    .title_hero {
        font-size: 28px;
    }

    .txt_hero {
        padding-bottom: 372px;
    }

    .col_hero_item .btn {
        display: flex;
    }

    .list_hero_total {
        margin-top: 40px;
    }

    .col_hero_item {
        width: 100%;
    }

    .hero_item_right {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 315px;
    }

    /* [D] SECTION COLLECTION */
    .section_collection {
        position: relative;
        padding: 40px 0;
    }

    .colection_item {
        flex-basis: calc(100%);
        margin-bottom: 30px;
    }

    .colection_item:nth-child(1n+1) {
        margin-left: 0;
    }

    /* [D] SECTION HEADLINE */
    .section_headline {
        padding: 40px 0 136px;
    }

    .section_headline .text_content,
    .section_headline .title {
        max-width: 100%;
    }

    .section_headline .btn_headline {
        top: unset;
        bottom: 126px;
        width: 100%;
    }

    .list_card .card_item {
        flex-basis: calc(100%);
    }

    .list_card .card_item:nth-child(1n+1) {
        margin-left: 0;
    }

    .section_headline .btn_link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    /* [D] SECTION CATEGORY */
    .list_category .category_item {
        flex-basis: calc(50% - 10px);
    }

    .list_category .category_item {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .category_item:nth-child(2n+1) {
        margin-left: 0;
    }
}

@media screen and (max-width: 375px) {}