@@include('./include/head.html',{"title": "Document Title - Sub_01 : UIT Gulp Project", "list_title": "List Title - Sub_01 : Sub"})
<body data-pagestatus="update : 2019.06.20">
@@include('./include/skipnavigation.html')

  <div class="wrap">
    <!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
    <!--//[D] HEADER -->
    
    <!-- [D] CONTENTS -->
    <main id="content">
      <div class="container">
        <div class="cat_page">
          <ul class="cat_lst cat_lst_one is_show">
            <li class="cat_lst_item">
              <a href="#none" class="cat_lst_link">마이페이지</a>
            </li>
            <li class="cat_lst_item">
              <a href="#none" class="cat_lst_link">로그아웃</a>
            </li>
          </ul>
          <ul class="cat_lst cat_lst_two">
            <li class="cat_lst_item">
              <a href="#none" class="cat_lst_link">로그인/가입</a>
            </li>
          </ul>
        </div>
        <div class="car_cat_one is_show">
          <button type="button" class="car_select btn_select">
            <div class="car_tit">
              <span class="car_tit_ico">
                <img src="../img/svg/car.svg" alt="car">
              </span>
              <strong class="car_tit_name">IONIC 7</strong>
            </div>
            <span class="car-txt">JH4TB2H26CC012345</span>
          </button>
          <ul class="car_open">
            <li class="car_open_item">
              <a href="#none" class="car_select">
                <div class="car_tit">
                <span class="car_tit_ico">
                  <img src="../img/svg/car.svg" alt="car">
                </span>
                <strong class="car_tit_name car_tit_name_gray">IONIC 7</strong>
                </div>
                <span class="car-txt car-txt_gray">JH4TB2H26CC012345</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="car_cat_two">
          <a href="#none" class="car_select">
            <div class="car_tit">
              <span class="car_tit_ico">
                <img src="../img/svg/car.svg" alt="car">
              </span>
              <strong class="car_tit_name">IONIC 7</strong>
            </div>
            <span class="car-txt">JH4TB2H26CC012345</span>
          </a>
        </div>
        <div class="car_cat_three">
          <div class="car_select_erro">
            <div class="car_tit">
              <span class="car_tit_ico">
                <img src="../img/svg/car.svg" alt="car">
              </span>
              <strong class="car_tit_name">보유차량이 없습니다.</strong>
            </div>
          </div>
        </div>
        <ul class="select_lst">
          <li class="select_lst_item">
            <button type="button" class="text select_lst_btn">디지털 사양</button>
            <ul class="depth_lst">
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link is_active">스토어 소개</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">스토어 가입안내</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">스토어 이용안내</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">이벤트</a>
              </li>
            </ul>
          </li>
          <li class="select_lst_item">
            <button type="button" class="text select_lst_btn">스토어 소개</button>
            <ul class="depth_lst">
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link is_active">스토어 소개</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">스토어 가입안내</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">스토어 이용안내</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">이벤트</a>
              </li>
            </ul>
          </li>
          <li class="select_lst_item">
            <button type="button" class="text select_lst_btn">고객지원</button>
            <ul class="depth_lst">
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link is_active">스토어 소개</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">스토어 가입안내</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">스토어 이용안내</a>
              </li>
              <li class="depth_lst_item">
                <a href="#none" class="depth_lst_link">이벤트</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="info_gnb info_gnb_one is_on">
          <a href="#none" class="text info_gnb_link">
            <span class="text info_gnb_text">개인정보 처리방침</span>
            <span class="ico_expand">
              <img src="../img/svg/expand.svg" alt="expand">
            </span>
          </a>
          <a href="#none" class="text info_gnb_link">
            <span class="text info_gnb_text">이용약관</span>
          </a>
        </div>
        <div class="info_gnb info_gnb_two">
          <a href="#none" class="text info_gnb_link">
            <span class="text info_gnb_text">개인정보 처리방침</span>
          </a>
          <a href="#none" class="text info_gnb_link">
            <span class="text info_gnb_text">이용약관</span>
          </a>
        </div>
      </div>
    </main>
    <!-- // [D] CONTENTS -->

    <!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
    <!--// [D] FOOTER -->
  </div>

  <!-- [D] LAYER -->
  <div class="layer"></div>
  <!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<style>
  .caseview,.btn_caseview {position: fixed;bottom: 100px; right: 20px;padding: 5px;background: #000000a2;z-index: 9999}
  .caseview a,.btn_caseview {display: block;padding: 5px;font-size: 12px;color: #fff;transition: .3s}
  .btn_caseview {right: 20px;bottom: 50px;padding: 10px;border: 0;cursor: pointer}
  .caseview{display: none}
  .caseview.is_active{display: block}
</style>
<script>
  function caseview0() {
    $(".caseview").toggleClass("is_active");
  }

  function caseview1() {
    $('.cat_lst_one').addClass('is_show')
    $('.cat_lst_two').removeClass('is_show')
  }

  function caseview2() {
    $('.cat_lst_one').removeClass('is_show')
    $('.cat_lst_two').addClass('is_show')
  }

  function caseview3() {
    $('.car_cat_one').addClass('is_show')
    $('.car_cat_two').removeClass('is_show')
    $('.car_cat_three').removeClass('is_show')
  }

  function caseview4() {
    $('.car_cat_two').addClass('is_show')
    $('.car_cat_one').removeClass('is_show')
    $('.car_cat_three').removeClass('is_show')
  }

  function caseview5() {
    $('.car_cat_two').removeClass('is_show')
    $('.car_cat_one').removeClass('is_show')
    $('.car_cat_three').addClass('is_show')
  }

  function caseview6() {
    $('.info_gnb_one').removeClass('is_on')
    $('.info_gnb_two').addClass('is_on')
  }

  function caseview7() {
    $('.info_gnb_one').addClass('is_on')
    $('.info_gnb_two').removeClass('is_on')
  }

</script>
<button type="button" class="btn_caseview" onclick="caseview0();return false;">Open View Active Case</button>
<div class="caseview">
  <a href="#" onclick="caseview1();return false;">범주</a>
  <a href="#" onclick="caseview2();return false;">로그인/가입</a>
  <a href="#" onclick="caseview3();return false;">보유 차량이 2대 이상일 시</a>
  <a href="#" onclick="caseview4();return false;">보유 차량이 1대인 경우</a>
  <a href="#" onclick="caseview5();return false;">보유 차량이 1대인 경우</a>
  <a href="#" onclick="caseview6();return false;">보유 차량이 없을 시</a>
  <a href="#" onclick="caseview7();return false;">보유 차량이 없을 시</a>
</div>
<!-- //case review / [D] 마크업 검수용, 개발제외 -->