<div class="container">
    <header class="header_inner">
        <h1 class="logo">
            <a href="#none" class="logo_link">
                <span class="logo_image">
                    <img src="../img/logo/logo.svg" alt="HUYNDAI">
                </span>
                <strong class="logo_tit">OnDemand</strong>
            </a>
        </h1>
        <button type="button" class="btn_nav">
            <span class="btn_nav_image">
                <img src="../img/svg/close.svg" alt="close">
            </span>
        </button>
    </header>
</div>