<div class="container">
    <header class="header">
        <h1 class="logo">
            <img src="../../img/logo/img_logo.png" alt="">
        </h1>
        <nav class="nav">
            <ul class="menu_lst">
                <li class="menu_lst_item">
                    <a href="#none" class="menu_lst_link active">Trang chủ</a>
                </li>
                <li class="menu_lst_item">
                    <a href="#none" class="menu_lst_link">Giới thiệu</a>
                </li>
                <li class="menu_lst_item">
                    <button type="button" class="menu_lst_btn">Thi thử online <i class="ico_dropdown"></i></button>
                </li>
                <li class="menu_lst_item">
                    <a href="#none" class="menu_lst_link">Tài liệu học tập</a>
                </li>
                <li class="menu_lst_item">
                    <a href="#none" class="menu_lst_link">Tin tức tuyển sinh</a>
                </li>
            </ul>
        </nav>
        <form action="" class="form_in_out">
            <button type="button" class="btn btn_login">Đăng nhập</button>
            <button type="button" class="btn btn_out">Đăng ký</button>
        </form>
    </header>
</div>