<header id="header">
    <div class="header-area">
        <div class="header-box">
            <h1 class="header-logo">
                <a href="#none" class="header-logo__link">
                    <img src="../../img/logo/logo_lexus@2x.png" alt="">
                </a>
            </h1>
            <nav class="header-nav">
                <ul class="nav">
                    <li class="nav__item">
                        <button type="button" class="nav__btn">MODEL</button>
                        <div class="depth">
                            
                        </div>
                    </li>
                    <li class="nav__item">
                        <button type="button" class="nav__btn">BUY</button>
                    </li>
                    <li class="nav__item">
                        <button type="button" class="nav__btn">SERVICE</button>
                    </li>
                    <li class="nav__item">
                        <button type="button" class="nav__btn">BRAND</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>