<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	@@if(context.list_title){<meta name="list" content="@@list_title">}
	<title>@@title</title>

	<!-- SEO meta tag -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="" >
	<!-- // Open Graph -->

	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
	<link rel="apple-touch-icon" href="../favicon-180x180.png">
	<!-- // Icon & Favicon -->

	<script type="module" src="https://bks0c7yrb0.execute-api.ap-northeast-2.amazonaws.com/v1/api/fontstream/djs/?sid=gAAAAABkzGAJawtbHpYacFSVyXVcZbLafbaiaroBp8AxSSInOuMYGV29RGG6Ravri2D7F8OCktUD2nGmW7XGySSVt4ONnb-6LkSPvopoM_XtrwGiRINVknV-ByC6n0hdugsLd5prA0dzBgZNgYVeGXBJlQjh2wvWUtcSPjjiFFu15wQEM4hMWNCqatRnYuZMf8rLWNSYqCyrvK0VWaITCRkq6iSZwEW1Ds9xQrV0YomrvEjH92Wskbyr3P06tktzc1xfWaw4WWRT" charset="utf-8"></script>
	<link rel="stylesheet" href="../css/libs.min.css">
	<link rel="stylesheet" href="../css/asiangame.css">
</head>
