/* [D] SECTION FOOTER*/
.footer{
    background-color: #070707ec;
}

.section_footer{
    padding: 60px 0 30px;
}

.group_footer{
    margin: 0 -16px;
    border-bottom: 1px solid #fff;
}

.footer_item {
    padding: 0 16px 30px;
}

.footer_title{
    position: relative;
    color: var(--text-color-white);
    font-size: 22px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.footer_active{
    position: absolute;
    width: 15%;
    height: 2px;
    bottom: 0;
    background-color: #c30005;
}

.text_note i{
    width: 8%;
    color: var(--text-color-white);
}

.col_2 .link_footer{
    display: block;
    padding: 16px 0;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.footer_icon{
    margin-top: 16px;
}

.icon_item_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 100%;
}

.icon_item_footer:first-child{
    margin-left: 0;
}

.footer_icon .facebook{
    background-color: #3a589d;
}

.footer_icon .instagram{
    background-color: #3b6994;
}

.footer_icon .twitter{
    background-color: #2478ba;
}

.footer_icon .pinterest{
    background-color: #cb2320;
}

.footer_icon .rss{
    background-color: #fc7600;
}

.footer_information{
    align-items: center;
    margin: 30px -16px 0;
}

.information_item{
    padding: 0 16px 30px;
}

.information_item .footer_title{
    padding-bottom: 0;
}

.footer_search{
    position: relative;
}

.footer_search input{
    width: 100%;
    height: 40px;
    padding: 5px 110px 5px 10px;
    border: 0;
    border-radius: 0 5px 5px 0;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.footer_btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    color: var(--text-color-white);
    background-color: #cb2320;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer_btn:hover{
    background-color: rgb(167, 4, 4);
    transition: all .3s linear;
}

.bank_image{
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
}

.bank_image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* [D] SECTION FOOTER*/