@media screen and (max-width: 768px) {
    .group_footer, .footer_information {
        flex-wrap: wrap;
    }

    .footer_item, .information_item {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .footer_item, .information_item {
        width: 100%;
    }
}