$sprites-vars: (
	'Untitled-1': (
		offset-x: 0,
		offset-y: 0,
		width: 541,
		height: 95,
		total-width: 541,
		total-height: 95,
		imageSrc: '../img/sprites.png'
	),
);

$sprites-origin: (
  total-width: 541,
  total-height: 95,
  imageSrc: '../img/sprites.png'
);
