#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.section_header {
    background-color: var(--text-color-black);
}

.header_group {
    justify-content: space-between;
    align-items: center;
}


.text_header a {
    padding: 16px 5px;
    box-sizing: border-box;
    color: #b6b5b5;
    font-weight: 800;
    font-size: 12px;
}

.text_header a:hover {
    color: var(--text-color-white);
    transition: all .5s linear;
}

.text_header {
    color: #b6b5b5;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
}

.header_price {
    text-transform: none;
}

.header_logo {
    padding: 10px 0;
    box-sizing: border-box;
    margin-left: 65px;
    font-size: 0;
}

.header_logo a{
    display: block;
}

.logo_header{
    color: var(--text-color-white);
    font-size: 35px;
    text-transform: uppercase;
}

.header_icon_search {
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    color: #b6b5b5;
    font-size: 16px;
    cursor: pointer;
}

.header_icon_search:hover .icon_search {
    color: var(--text-color-white);
    transition: all .5s linear;
}

.header_icon_search:hover .header_search,
.header_icon_search:hover .arrow,
.header_cart:hover .arrow,
.menu_item:hover .arrow {
    display: block;
    transition: all .3s linear;
}

.header_search {
    display: none;
    position: absolute;
    top: 100%;
    left: -180%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: -5px 8px 10px;
    z-index: 1;
    background-color: var(--text-color-white);
}

.search {
    position: relative;
}

.header_search input {
    width: 260px;
    padding: 4px 10px;
    box-sizing: border-box;
    border: 1px solid #504e4e3a;
    font-size: 16px;
    outline: none;
}

.search_btn {
    position: absolute;
    right: 0;
    padding: 6px;
    box-sizing: border-box;
    border: 0;
    border-radius: 2px 2px 0 0;
    color: var(--text-color-white);
    background-color: #c30005;
    font-size: 15px;
    cursor: pointer;
}

.search_arrow {
    left: 6%;
}

.header_cart {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header_cart:hover .text_header {
    color: var(--text-color-white);
    transition: all .5s linear;
}

.header_cart:hover .text_header a {
    color: var(--text-color-white);
    transition: all .5s linear;
}

.header_cart:hover .shopping_cart {
    background-color: var(--text-color-white);
    color: var(--text-color-black);
    transition: all .5s linear;
}

.header_cart:hover .bags {
    top: -10px;
}

.header_cart:hover .shopping_cart_notification {
    display: block;
    transition: all .5s linear;
}

.cart_left {
    margin-left: 15px;
}

.header_divider {
    width: 2px;
    background-color: #363434;
}

.header_shopping_cart {
    position: relative;
    cursor: pointer;
}

.shopping_cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid var(--text-color-white);
    color: var(--text-color-white);
    background-color: var(--text-color-black);
    font-size: 18px;
    z-index: 1;
}

.bags {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -8px;
    left: calc(50% - 35%);
    border: 2px solid var(--text-color-white);
    border-radius: 100%;
    z-index: 0;
}

.shopping_cart_notification {
    display: none;
    position: absolute;
    top: 100%;
    left: -38%;
    border-radius: 5px;
    box-shadow: -5px 8px 10px #999999af;
    background-color: var(--text-color-white);
    z-index: 1;
}

.notification_text_cart {
    width: 220px;
    padding: 30px 20px;
    box-sizing: border-box;
    color: #888;
    font-size: 12px;
}

.cart_arrow {
    left: 30%;
}

.click_show_menu{
    display: none;
}

.show_cart{
    display: none;
}
/* [D] NAVBAR*/

.section_navbar {
    background-color: #dcdcdc;
}

.navbar_menu {
    justify-content: center;
}

.menu_item {
    position: relative;
    margin: 0 16px;
}

.menu_item a {
    display: block;
    padding: 16px 0;
    box-sizing: border-box;
    color: var(--text-color-black);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu_item a i {
    color: #3634346c;
}

.active_menu{
    border-bottom: 3px solid #c30005;
}

.menu_item .hover_menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    background-color: #c30005;
}

.menu_item:hover .hover_menu {
    display: block;
    animation: activeNavbar .5s linear;
}

.menu_item:hover .shoes {
    display: block;
}

.shoes {
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    left: -100%;
    padding: 16px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 10px #88888894;
    background-color: var(--text-color-white);
    z-index: 1;
}

.shoes_item a {
    padding: 14px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #b6b5b53f;
    color: #888;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.shoes_item a:hover {
    color: red;
    background-color: #88888815;
}

@keyframes activeNavbar {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 2;
    }
}

.nav_cart_checked{
    display: none;
}

/* [D] NAVBAR*/

/* [D] SECTION HEADER */


/* [D] SECTION HEADER */
.content{
    padding-top: 130px;
    box-sizing: border-box;
}

.thumb_details_img{
    position: relative;
    overflow: hidden;
    padding-bottom: 14%;
    box-sizing: border-box;
}

.thumb_details_img img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%,-50%);
}

.image_details_all{
    margin-top: 30px;
}

.image_details_item{
    padding: 0 15px;
    box-sizing: border-box;zing: border-box;
    cursor: pointer;
}

.image_details_item img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.details_all{
    margin: 0 -15px;
}

.details{
    padding: 0 15px;
    box-sizing: border-box;
}

.category_details{
    color: #888;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.text_details{
    position: relative;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.title_details{
    margin-top: 20px;
    color: var(--text-color-black);
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.crossbar{
    position: absolute;
    width: 30px;
    height: 3px;
    top: 100%;
    background-color: #dddbdb;
}

.price_details{
    margin-top: 20px;
}

.price{
    font-size: 22px;
    font-weight: 600;
}

.quantity_details{
    margin-top: 20px;
}

.total_all{
    width: 20%;
}

.btn_total_all{
    width: 80%;
    margin-left: 20px;
}

.reduce, .increase{
    display: block;
    width: 30px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #9999993f;
    cursor: pointer;
    outline: none;
}

.reduce:hover, .increase:hover{
    color: var(--text-color-white);
    background-color: #888;
    transition: all .3s linear;
}

.total{
    display: flex;
    width: 50px;
    height: auto;
    text-align: center;
    border: 1px solid #9999993f;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

.btn_details{
    padding: 14px 24px;
    box-sizing: border-box;
    border: 0;
    color: var(--text-color-white);
    background-color: #d26e4b;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.add_details_cart:hover{
    background-color: #d44612;
    transition: all .5s linear;
}
/* .total_all{
    margin-left: 30px;
}

.total_all:first-child{
    margin-left: 0;
} */

.details_service{
    margin-top: 40px;
    margin: 40px -15px 0;
}

.service{
    padding: 0 15px;
    box-sizing: border-box;
}

.service_all{
    flex-wrap: wrap;
    margin-top: 20px;
}

.service_image{
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.service_image img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%,-50%);
}

.note_details{
    margin-top: 20px;
}

.details_register{
    width: 100%;
    margin-top: 20px;
}

.btn_details_register{
    padding: 10px;
    box-sizing: border-box;
    background-color: #c30005;
    text-transform: unset;
}

.btn_details_register:hover{
    background-color: #a70309;
    transition: all .3s linear;
}

.product_meta{
    margin-top: 30px;
}

.id_product_details, .cat_product_details, .cat_product_details a{
    padding: 10px 0;
    box-sizing: border-box;
    color: #888;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid #9999993f;
}


/* [D] SECTION FOOTER*/
.footer{
    background-color: #070707ec;
}

.section_footer{
    padding: 60px 0 30px;
    box-sizing: border-box;
}

.group_footer{
    margin: 0 -16px;
    border-bottom: 1px solid #fff;
}

.footer_item {
    padding: 0 16px 30px;
    box-sizing: border-box;
}

.footer_title{
    position: relative;
    color: var(--text-color-white);
    font-size: 22px;
    padding-bottom: 30px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.footer_active{
    position: absolute;
    width: 15%;
    height: 2px;
    bottom: 0;
    background-color: #c30005;
}

.text_note i{
    width: 8%;
    color: var(--text-color-white);
}

.col_2 .link_footer{
    display: block;
    padding: 16px 0;
    box-sizing: border-box;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.footer_icon{
    margin-top: 16px;
}

.icon_item_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 100%;
}

.icon_item_footer:first-child{
    margin-left: 0;
}

.footer_icon .facebook{
    background-color: #3a589d;
}

.footer_icon .instagram{
    background-color: #3b6994;
}

.footer_icon .twitter{
    background-color: #2478ba;
}

.footer_icon .pinterest{
    background-color: #cb2320;
}

.footer_icon .rss{
    background-color: #fc7600;
}

.footer_information{
    align-items: center;
    margin: 30px -16px 0;
}

.information_item{
    padding: 0 16px 30px;
    box-sizing: border-box;
}

.information_item .footer_title{
    padding-bottom: 0;
    box-sizing: border-box;
}

.footer_search{
    position: relative;
}

.footer_search input{
    width: 100%;
    height: 40px;
    padding: 5px 110px 5px 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 0 5px 5px 0;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;zing: border-box;
}

.footer_btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 5px 5px 0;
    color: var(--text-color-white);
    background-color: #cb2320;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer_btn:hover{
    background-color: rgb(167, 4, 4);
    transition: all .3s linear;
}

.bank_image{
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
    box-sizing: border-box;
}

.bank_image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* [D] SECTION FOOTER*/
