<footer id="footer">
        <div class="footer-inner">
                <ul class="footer-lst">
                        <li class="footer-lst__item">
                                <strong class="footer-lst__title">모델</strong>
                                <ul class="footer-link">
                                        <li class="footer-link__item">
                                                <a href="#none">LS</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">ES</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">RX</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">RZ</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">NX</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">UX</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">LC</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">FUTURE</a>
                                        </li>
                                </ul>
                        </li>
                        <li class="footer-lst__item">
                                <strong class="footer-lst__title">구매</strong>
                                <ul class="footer-link">
                                        <li class="footer-link__item">
                                                <a href="#none">견적 조회</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">차량 비교</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">구매 혜택</a>
                                        </li>
                                </ul>
                        </li>
                        <li class="footer-lst__item">
                                <strong class="footer-lst__title">서비스</strong>
                                <ul class="footer-link">
                                        <li class="footer-link__item">
                                                <a href="#none">렉서스 서비스</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">서비스 프로그램</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">하이브리드 서비스</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">서비스센터</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">사용자 매뉴얼</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">액세서리</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">부품 및 취급 정보</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">서비스자료·장비·교육</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">24시간 서비스 예약</a>
                                        </li>
                                </ul>
                        </li>
                        <li class="footer-lst__item">
                                <strong class="footer-lst__title">브랜드</strong>
                                <ul class="footer-link">
                                        <li class="footer-link__item">
                                                <a href="#none">ABOUT LEXUS</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">BRAND STORY</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">LEXUS DESIGN AWARD</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">LEXUS CREATIVE MASTERS</a>
                                        </li>
                                        <li class="footer-link__item">
                                                <a href="#none">LEXUS META CITY</a>
                                        </li>
                                </ul>
                        </li>
                        <li class="footer-lst__item">
                                <strong class="footer-lst__link">
                                        <a href="#none">렉서스 라운지</a>
                                </strong>
                        </li>
                        <li class="footer-lst__item">
                                <strong class="footer-lst__link">
                                        <a href="#none">커넥트투</a>
                                </strong>
                        </li>
                </ul>
                <ul class="footer-info">
                        <li class="footer-info__item">
                                <ul class="footer-static">
                                        <li class="footer-static__item">긴급 출동 서비스</li>
                                        <li class="footer-static__item">
                                                <a href="#none">080-4300-4300</a> (ARS 1 번 / 24시간 연중무휴)
                                        </li>
                                </ul>
                                <ul class="footer-static">
                                        <li class="footer-static__item">렉서스 서비스 예약</li>
                                        <li class="footer-static__item">
                                                <a href="#none">080-4500-4500</a> (24시간 연중무휴)
                                        </li>
                                </ul>
                                <ul class="footer-static">
                                        <li class="footer-static__item">고객 지원실</li>
                                        <li class="footer-static__item">
                                                <a href="#none">080-4300-4300</a> 평일 09:00-18:00
                                        </li>
                                </ul>
                        </li>
                        <li class="footer-info__item">
                                <ul class="footer-menu">
                                        <li class="footer-menu__item">
                                                <a href="#none" class="footer-menu__link">LEXUS INTERNATIONAL</a>
                                        </li>
                                        <li class="footer-menu__item">
                                                <a href="#none" class="footer-menu__link">개인정보처리방침</a>
                                        </li>
                                        <li class="footer-menu__item">
                                                <a href="#none" class="footer-menu__link">법적고지</a>
                                        </li>
                                        <li class="footer-menu__item">
                                                <a href="#none" class="footer-menu__link">@ TOYOTA MOTOR KOREA</a>
                                        </li>
                                </ul>
                        </li>
                </ul>
        </div>
</footer>