<!-- Animation AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Slide Product -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
    integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<!-- Javascript -->
<script src="/js/libs/vendor.min.js"></script>
<script src="/js/apps/swiper.js"></script>
<script src="/js/apps/common.js"></script>
<script src="/js/apps/main.js"></script>
<script src="/js/apps/slider.js"></script>
<script src="/js/apps/models.js"></script>
<!-- <script src="/js/project-name.min.js"></script> -->
<!-- // Javascript -->