@font-face {
  font-family: "RixSGoB";
  font-weight: 400;
  src: url(../font/RixSGoB.woff) format("woff");
}

@font-face {
  font-family: "TTOctosquares";
  font-weight: 700;
  src: url(../font/TTOctosquares-Bold.woff) format("woff");
}

@font-face {
  font-family: "pretendard";
  font-weight: 400;
  src: url(../font/pretendard_regular.woff) format("woff");
}

@font-face {
  font-family: "pretendard";
  font-weight: 600;
  src: url(../font/pretendard_semibold.woff) format("woff");
}

@font-face {
  font-family: "SDGothicNeo";
  font-weight: 700;
  src: url(../font/SDGothicNeo-Bold.woff) format("woff");
}

@font-face {
  font-family: "SDGothicNeo";
  font-weight: 500;
  src: url(../font/SDGothicNeo-Mideum.woff) format("woff");
}
