$screen-xsm: 360px;
$screen-sm: 768px;
$screen-md: 1025px;
$screen-lg: 1600px;
$screen-xlg: 1920px;

$black: #000;
$white: #fff;
$red: #e62a29;
$red2: #8a1919;
$red3: #cc0100;
$gray: #a1a1a2;
$gray2: #686868;
$gray3: #c7c7c7;
$gray4: #626262;
$gray5: #d4d4d4;
$gray-light: #c4c4c4;
$gray-dark: #747474;
$dark: #242424;
$dark2: #1b1b1c;
$dark3: #2c2c2c;
$dark4: #303030;
$light: #ececec;
$blue: #091afe;
$blue2: #051098;

$pretendard: 'pretendard';
$tto: 'TTOctosquares';
$SDGothicNeo: 'SDGothicNeo';
$RixSGoB: 'RixSGoB';
$SDGyeokdong: 'Sandoll GyeokdongG2';
