<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP SHOES</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../css/slick_slider/slick.css">
    <link rel="stylesheet" href="../css/slick_slider/slick-theme.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header/header.css">
    <link rel="stylesheet" href="../css/header/reponsive_header.css">
    <link rel="stylesheet" href="../css/footer/footer.css">
    <link rel="stylesheet" href="../css/footer/footer_responsive.css">
    <link rel="stylesheet" href="../css/home/main.css">
    <link rel="stylesheet" href="../css/home/responsive.css">
</head>

<body>
    <div class="wraper">
        <div class="quick-alo-phone quick-alo-green quick-alo-show" id="quick-alo-phoneIcon">
            <a href="tel:01674596344" title="Liên hệ nhanh">
                <div class="quick-alo-ph-circle"></div>
                <div class="quick-alo-ph-circle-fill"></div>
                <div class="quick-alo-ph-img-circle">
                    <div class="phone_shaking">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                </div>
            </a>
        </div>
        <header id="header">
            <section class="section_header">
                <div class="container">
                    <div class="header_group row">
                        <div class="header_singup">
                            <span class="text_header"><a href="#none">đăng nhập</a></span>
                            <span class="text_header">/</span>
                            <span class="text_header"><a href="#none">đăng ký</a></span>
                        </div>
                        <div class="click_show_menu">
                            <label for="menu" class="icon_navbar">
                                <div class="icon_nav_item"></div>
                                <div class="icon_nav_item"></div>
                                <div class="icon_nav_item"></div>
                            </label>
                            <input type="checkbox" class="nav_checked" name="" id="menu">
                            <label for="menu" class="nav_overlay"></label>
                            <div class="show_menu">
                                <ul class="show_menu_all">
                                    <li class="show_menu_search">
                                        <form class="search">
                                            <input type="text" placeholder="Tìm kiếm...">
                                            <button type="submit" class="btn search_btn">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </form>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">trang chủ</a>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">giới thiệu</a>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">nữ</a>
                                        <i class="fa-solid fa-angle-down ese"></i>
                                        <ul class="nav_shoes">
                                            <li class="shoes_item"><a href="#none">classic</a></li>
                                            <li class="shoes_item"><a href="#none">sunbaked</a></li>
                                            <li class="shoes_item"><a href="#none">chuck 07s</a></li>
                                            <li class="shoes_item"><a href="#none">one star</a></li>
                                            <li class="shoes_item"><a href="#none">PSY - kicks</a></li>
                                        </ul>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">nam</a>
                                        <i class="fa-solid fa-angle-down ese"></i>
                                        <ul class="nav_shoes">
                                            <li class="shoes_item"><a href="#none">classic</a></li>
                                            <li class="shoes_item"><a href="#none">sunbaked</a></li>
                                            <li class="shoes_item"><a href="#none">chuck 07s</a></li>
                                            <li class="shoes_item"><a href="#none">one star</a></li>
                                            <li class="shoes_item"><a href="#none">PSY - kicks</a></li>
                                        </ul>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">trẻ em</a>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">phụ kiện khác</a>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">tin tức</a>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">liên hệ</a>
                                    </li>
                                    <li class="show_menu_item">
                                        <a href="#none">đăng nhập</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header_logo">
                            <a href="#none">
                                <h2 class="logo_header">nghi sport</h2>
                            </a>
                        </div>
                        <ul class="header_event row">
                            <li class="header_icon_search">
                                <i class="fa-solid fa-magnifying-glass icon_search"></i>
                                <div class="header_search">
                                    <form class="search">
                                        <input type="text" placeholder="Tìm kiếm...">
                                        <button type="submit" class="btn search_btn">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </form>
                                </div>
                                <span class="arrow search_arrow"></span>
                            </li>
                            <li class="header_divider"></li>
                            <li class="header_cart">
                                <div class="header_text_cart cart_left">
                                    <span class="text_header"><a href="#none">giỏ hàng</a></span>
                                    <span class="text_header">/</span>
                                    <span class="text_header header_price">0 đ</span>
                                </div>
                                <label for="nav_cart" class="header_shopping_cart cart_left">
                                    <span class="shopping_cart">0</span>
                                    <span class="bags"></span>
                                </label>
                                <input type="checkbox" class="nav_cart_checked" name="" id="nav_cart">
                                <label for="nav_cart" class="nav_overlay"></label>
                                <div class="show_cart">
                                    <div class="cart_ctn">
                                        <label for="nav_cart" class="nav_cart_close">
                                            <i class="fa-solid fa-xmark"></i>
                                        </label>
                                        <h1 class="title title_cart">giỏ hàng</h1>
                                        <div class="cart_crossbar_all">
                                            <span class="crossbar_cart"></span>
                                        </div>
                                        <h2 class="nav_notification_text">Chưa có sản phẩm trong <i
                                                class="fa-solid fa-cart-shopping"></i> !.</h2>
                                    </div>
                                </div>
                                <div class="shopping_cart_notification">
                                    <h2 class="notification_text_cart">Chưa có sản phẩm trong <i
                                            class="fa-solid fa-cart-shopping"></i> !</h2>
                                </div>
                                <span class="arrow cart_arrow"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section_navbar">
                <div class="container">
                    <ul class="navbar_menu row">
                        <li class="menu_item"><a class="active_menu" href="#none">trang chủ</a><span
                                class="hover_menu"></span></li>
                        <li class="menu_item"><a href="#none">giới thiệu</a><span class="hover_menu"></span></li>
                        <li class="menu_item"><a href="#none">nữ <i class="fa-solid fa-angle-down"></i></a>
                            <span class="hover_menu"></span>
                            <ul class="shoes">
                                <li class="shoes_item"><a href="#none">classic</a></li>
                                <li class="shoes_item"><a href="#none">sunbaked</a></li>
                                <li class="shoes_item"><a href="#none">chuck 07s</a></li>
                                <li class="shoes_item"><a href="#none">one star</a></li>
                                <li class="shoes_item"><a href="#none">PSY - kicks</a></li>
                            </ul>
                            <span class="arrow shoes_arrow"></span>
                        </li>
                        <li class="menu_item"><a href="#none">nam <i class="fa-solid fa-angle-down"></i></a>
                            <span class="hover_menu"></span>
                            <ul class="shoes">
                                <li class="shoes_item"><a href="#none">classic</a></li>
                                <li class="shoes_item"><a href="#none">sunbaked</a></li>
                                <li class="shoes_item"><a href="#none">chuck 07s</a></li>
                                <li class="shoes_item"><a href="#none">one star</a></li>
                                <li class="shoes_item"><a href="#none">PSY - kicks</a></li>
                            </ul>
                            <span class="arrow shoes_arrow"></span>
                        </li>
                        <li class="menu_item"><a href="#none">trẻ em</a><span class="hover_menu"></span></li>
                        <li class="menu_item"><a href="#none">phụ kiện khác</a><span class="hover_menu"></span></li>
                        <li class="menu_item"><a href="#none">tin tức</a><span class="hover_menu"></span></li>
                        <li class="menu_item"><a href="#none">liên hệ</a><span class="hover_menu"></span></li>
                    </ul>
                </div>
            </section>
        </header>
        <div class="slider">
            <div class="container">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="../img/slider/slider_one.jpg">
                    </div>
                    <div class="mySlides fade">
                        <img src="../img/slider/slider_two.jpg">
                    </div>
                    <div class="mySlides fade">
                        <img src="../img/slider/slider_three.jpg">
                    </div>
                </div>
                <div class="slider_active">
                    <span class="dot" onclick="currentSlide(0)"></span>
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container">
                <section class="product_shoes">
                    <div class="group_product row">
                        <div class="product_item col_3">
                            <a href="">
                                <div class="product_image_title">
                                    <img src="../img/product/title_block.png" alt="">
                                </div>
                                <div class="thumb">
                                    <img src="../img/product/shoes_voleyball_2.jpg" alt="">
                                </div>
                                <a href="#none" class="look_product">Xem sản phẩm</a>
                            </a>
                        </div>
                        <div class="product_item col_3">
                            <a href="">
                                <div class="product_image_title">
                                    <img src="../img/product/title_block_2.png" alt="">
                                </div>
                                <div class="thumb">
                                    <img src="../img/product/shoes_voleyball_1.jpg" alt="">
                                </div>
                                <a href="#none" class="look_product">Xem sản phẩm</a>
                            </a>
                        </div>
                        <div class="product_item col_3">
                            <a href="">
                                <div class="product_image_title">
                                    <img src="../img/product/title_block_3.png" alt="">
                                </div>
                                <div class="thumb">
                                    <img src="../img/product/shoes_voleyball_3.jpg" alt="">
                                </div>
                                <a href="#none" class="look_product">Xem sản phẩm</a>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="products_shoes">
                    <ul class="categoty_shose row">
                        <li class="category_item tab"><a href="#none">sản phẩm mới</a></li>
                        <li class="category_item"><a href="#none">sản phẩm bán chạy</a></li>
                        <li class="category_item"><a href="#none">sản phẩm phổ biến</a></li>
                    </ul>
                    <ul class="group_product_shoes">
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_1.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_2.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_3.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_4.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_1.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_2.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_3.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                        <li class="products_shoes_item">
                            <a href="#none">
                                <img src="../img/products_shose/shoes_4.jpg" alt="">
                                <div class="txt_products">
                                    <h3 class="product_text">chuck taylor classic</h3>
                                    <div class="products_price">1,250,000đ</div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
                <section class="section_fashion">
                    <div class="group_title">
                        <h2 class="title">phụ kiện khác</h2>
                    </div>
                    <div class="group_products_fashion">
                        <ul class="product_fashion row">
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/sport_clothes/sport_clothes_1.png" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse star chevron jogger</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                                <span class="love_product">
                                                    <i class="fa-solid fa-heart"></i>
                                                </span>
                                                <span class="love_product"></span>
                                                <span class="love_product"></span>
                                    </div>
                                </a>
                            </li>
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/sport_clothes/sport_clothes_2.jpg" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse “Metal CONS” pull over hoodie</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </a>
                            </li>
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/sport_clothes/sport_clothes_4.jpg" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse x suicidal tendencies long sleeve tee</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </a>
                            </li>
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/sport_clothes/sport_clothes_5.jpg" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse collegiate text SS tee</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </a>
                            </li>
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/fashion/fashion_7.jpg" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse “Metal CONS” pull over hoodie</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </a>
                            </li>
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/fashion/fashion_8.jpg" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse x suicidal tendencies long sleeve tee</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </a>
                            </li>
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/fashion/fashion_7.jpg" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse collegiate text SS tee</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </a>
                            </li>
                            <li class="item col_4">
                                <a href="./product_details.html">
                                    <div class="thumb">
                                        <img src="../img/fashion/fashion_8.jpg" alt="">
                                    </div>
                                    <div class="txt_products">
                                        <h3 class="product_text">converse star chevron jogger</h3>
                                        <div class="products_price">1,250,000đ</div>
                                        <button class="link_products btn">thêm vào <i
                                                class="fa-solid fa-cart-shopping"></i></button>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn_fashion">
                        <a href="" class="btn">Xem tất cả</a>
                    </div>
                </section>
                <sectionn class="section_sale_price">
                    <div class="sale_iner">
                        <div class="sale_ctn">
                            <p class="txt_sale_price">nghi sport sne <i class="fa-regular fa-star"></i> ker</p>
                            <h2 class="title_sale_price">khuyến mãi <span class="sale_price">giảm giá 50%</span></h2>
                            <div class="btn_sale_price">
                                <a href="" class="btn btn_look_product">Xem sản phẩm</a>
                            </div>
                        </div>
                        <div class="overley"></div>
                    </div>
                </sectionn>
                <section class="section_product_reviews">
                    <div class="group_title">
                        <h2 class="title">sản phẩm đánh giá</h2>
                    </div>
                    <ul class="product_reviews row">
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_1.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse star chevron jogger</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_2.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse “Metal CONS” pull over hoodie</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_3.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse x suicidal tendencies long sleeve tee</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_4.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse collegiate text SS tee</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_5.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse “Metal CONS” pull over hoodie</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_8.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse x suicidal tendencies long sleeve tee</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_7.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse collegiate text SS tee</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                        <li class="item col_4">
                            <a href="./product_details.html">
                                <div class="thumb">
                                    <img src="../img/product_reviews/product_review_8.jpg" alt="">
                                </div>
                                <div class="txt_products">
                                    <h3 class="product_text">converse star chevron jogger</h3>
                                    <div class="products_price"><span class="price_none">2,000,000đ</span> 1,250,000đ
                                    </div>
                                    <button class="link_products btn">thêm vào <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                    <span class="sale">-30%</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="section_footer">
                    <ul class="group_footer row">
                        <li class="footer_item col_4">
                            <h2 class="footer_title">
                                <span class="footer_active"></span> giới thiệu
                            </h2>
                            <p class="text_note">Chào mừng bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng chữ, mỗi
                                chi tiết và hình ảnh đều là những bằng chứng mang dấu ấn lịch sử Converse 100 năm, và
                                đang không ngừng phát triển lớn mạnh.</p>
                        </li>
                        <li class="footer_item col_4">
                            <h2 class="footer_title">
                                <span class="footer_active"></span> địa chỉ
                            </h2>
                            <p class="text_note"><i class="fa-solid fa-location-dot"></i> Hà Nội</p>
                            <p class="text_note"><i class="fa-solid fa-phone"></i> 0328484700</p>
                            <p class="text_note"><i class="fa-solid fa-envelope"></i> vannghivn02@gmail.com</p>
                            <p class="text_note"><i class="fa-brands fa-skype"></i> demonhunterp</p>
                        </li>
                        <li class="footer_item col_4">
                            <h2 class="footer_title">
                                <span class="footer_active"></span> menu
                            </h2>
                            <ul class="row">
                                <li class="col_2">
                                    <a class="link_footer active" href="">Trang chủ</a>
                                    <a class="link_footer" href="">Cửa hàng</a>
                                    <a class="link_footer" href="">Liên hệ</a>
                                </li>
                                <li class="col_2">
                                    <a class="link_footer" href="">Giới thiệu</a>
                                    <a class="link_footer" href="">Tin thức</a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer_item col_4">
                            <h2 class="footer_title">
                                <span class="footer_active"></span> mạng xã hội
                            </h2>
                            <div class="footer_icon row">
                                <a class="icon_item_footer facebook" href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a class="icon_item_footer instagram" href=""><i class="fa-brands fa-instagram"></i></a>
                                <a class="icon_item_footer twitter" href=""><i class="fa-brands fa-twitter"></i></a>
                                <a class="icon_item_footer pinterest" href=""><i class="fa-brands fa-pinterest"></i></a>
                                <a class="icon_item_footer rss" href=""><i class="fa-solid fa-rss"></i></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="footer_information row">
                        <li class="information_item col_4">
                            <h2 class="footer_title">đăng ký nhận thông tin</h2>
                        </li>
                        <li class="information_item col_3">
                            <form class="footer_search" action="">
                                <input type="text" placeholder="Email ...">
                                <button class="btn footer_btn">đăng ký</button>
                            </form>
                        </li>
                        <li class="information_item col_3">
                            <ul class="row">
                                <li class="footer_image col_4">
                                    <a href="">
                                        <div class="bank_image">
                                            <img src="../img/footer/footer_1.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="footer_image col_4">
                                    <a href="">
                                        <div class="bank_image">
                                            <img src="../img/footer/footer_2.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="footer_image col_4">
                                    <a href="">
                                        <div class="bank_image">
                                            <img src="../img/footer/footer_3.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="footer_image col_4">
                                    <a href="">
                                        <div class="bank_image">
                                            <img src="../img/footer/footer_4.png" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li class="footer_image col_4">
                                    <a href="">
                                        <div class="bank_image">
                                            <img src="../img/footer/footer_5.png" alt="">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/slick.js"></script>
    <script src="../js/slick.min.js"></script>

    <script>
        $('.group_product_shoes').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 550,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ],
            nextArrow: '<button class="slide-arrow next-arrow"><i class="fa-solid fa-chevron-left"></i></button>',
            prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa-solid fa-chevron-right"></i></button>'
        });

        $('.menu_item a').on('click', function () {
            $('.menu_item a.active_menu').removeClass('active_menu');
            $(this).addClass('active_menu');
        });
    </script>
</body>

</html>