@@include('./include/head.html',{"title": "Asian Game - 500 Error", "list_title": "500 Error : Exception"})
<body data-pagestatus="new : 2023.09.07">
@@include('./include/skipnavigation.html')

	<div class="wrap etc_page">
		<!-- [D] CONTENTS -->
		<main id="content">
      <div class="etc etc_retry">
				<div class="inner">
					<span class="ico"></span>
					<h2 class="etc_tit">잠시 후 다시 시도해주세요.</h2>
					<p class="etc_desc">사이트에 문제가 생겨 <br>문제를 해결하고 있습니다.</p>
					<a href="#none" class="etc_link">
						<img src="../img/img_etc1_pc.png" alt="재시도 하기">
					</a>
				</div>
      </div>
		</main>
		<!-- // [D] CONTENTS -->
	</div>
	@@include('./include/script.html')
<script type="text/javascript" src="https://cdn.rgpub.io/public/live/riotbar/latest/kr-riotgames.ko_KR.js"></script>
</body>
</html>
