@@include('./include/head.html',{"title": "Asian Game - 404 Error", "list_title": "404 Error : Exception"})
<body data-pagestatus="new : 2023.09.07">
@@include('./include/skipnavigation.html')

	<div class="wrap etc_page">
		<!-- [D] CONTENTS -->
		<main id="content">
      <div class="etc etc_not_found">
				<div class="inner">
					<span class="ico"></span>
					<h2 class="etc_tit">페이지를 찾을 수 없습니다.</h2>
					<p class="etc_desc">요청하신 페이지가 존재하지 않거나 사용할 수 없는 페이지입니다. <br>입력하신 주소가 정확한지 다시 한 번 확인해주세요.</p>
					<a href="#none" class="etc_link">
						<img src="../img/img_etc2_pc.png" alt="홈으로 가기">
					</a>
				</div>
      </div>
		</main>
		<!-- // [D] CONTENTS -->
	</div>

@@include('./include/script.html')
<script type="text/javascript" src="https://cdn.rgpub.io/public/live/riotbar/latest/kr-riotgames.ko_KR.js"></script>
</body>
</html>
