@@include('./include/head.html',{"title": "Asian Game - 이벤트 종료", "list_title": "이벤트 종료 : Exception"})
<body data-pagestatus="new : 2023.09.07">
@@include('./include/skipnavigation.html')

	<div class="wrap etc_page">
		<!-- [D] CONTENTS -->
		<main id="content">
      <div class="etc etc_light etc_end">
				<div class="inner">
					<span class="ico"></span>
					<h2 class="etc_tit">이벤트가 종료되었습니다.</h2>
					<p class="etc_note">다음 이벤트를 기대해주세요!</p>
					<a href="#none" class="etc_link">
						<img src="../img/img_etc2_pc.png" alt="홈으로 가기">
					</a>
				</div>
      </div>
		</main>
		<!-- // [D] CONTENTS -->
	</div>

@@include('./include/script.html')
<script type="text/javascript" src="https://cdn.rgpub.io/public/live/riotbar/latest/kr-riotgames.ko_KR.js"></script>
</body>
</html>
