@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-SemiBold.eot');
    src: url('../font/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/WorkSans-SemiBold.woff2') format('woff2'),
        url('../font/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../font/WorkSans-Regular.eot');
    src: url('../font/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/WorkSans-Regular.woff2') format('woff2'),
        url('../font/WorkSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../font/SpaceMono-Bold.eot');
    src: url('../font/SpaceMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/SpaceMono-Bold.woff2') format('woff2'),
        url('../font/SpaceMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../font/SpaceMono-Regular.eot');
    src: url('../font/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/SpaceMono-Regular.woff2') format('woff2'),
        url('../font/SpaceMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


:root {
    --text-color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

dl,
ul,
ol,
menu,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

em {
    font-style: normal
}

a {
    text-decoration: none;
    cursor: pointer;
}

.list,
.row {
    display: flex;
}

.container {
    max-width: 1110px;
    margin: auto;
    padding: 100px 30px 0;
    box-sizing: border-box;
    transition: .3s linear;
}

.title {
    color: var(--text-color);
    font-weight: 600;
    text-transform: capitalize;
}

.text {
    color: var(--text-color);
    font-weight: 400;
    text-transform: capitalize;
}

.txt_btn {
    line-height: 140%;
    margin-left: 12px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #a259ff;
    transition: .3s linear;
}

.btn:hover {
    box-shadow: 0px 0px 10px #a259ff;
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    position: absolute;
    width: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number_total {
    color: var(--text-color);
    font-family: 'Space Mono';
    font-weight: 700;
}

.user_name .title {
    font-size: 22px;
}

.avatar {
    padding-bottom: 24px;
    width: 24px;
    border-radius: 100%;
}

.user_name .list {
    align-items: center;
    margin-top: 10px;
}

/* COMMON */

.wrapper {
    width: 100%;
    height: auto;
    background-color: #2b2b2b;
}


/* COMMON REPONSIVE */
@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 375px) {}


/* HEADER COMMON */
#header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #2b2b2b;
    z-index: 1000;
    transition: .5s;
}

#header.active{
    background-color: #000000d8;
}

.inner {
    max-width: 1308px;
    margin: auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 18.82px 30px;
    transition: .3s linear;
}

.logo {
    justify-content: center;
    align-items: center;
}

.menu_item_btn .btn {
    padding: 20px 30px;
}

.icon {
    display: inline-block;
    background-image: url(/img/sprites/sp.png);
    background-size: auto 86px;
}

.icon_logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: -90px 2px;
}

.txt_logo {
    margin-left: 15px;
    color: var(--text-color);
    font-family: 'Space Mono';
    font-size: 22px;
    transition: .3s linear;
}

.txt_logo:hover,
.menu_item a:hover {
    color: #a259ff;
}

.menu {
    justify-content: center;
    align-items: center;
}

.menu_item,
.menu_item_btn {
    margin-left: 10px;
}

.menu_item:first-child {
    margin-left: 0;
}

.menu_item a {
    display: inline-block;
    line-height: 140%;
    padding: 12px 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    transition: .3s linear;
}

.menu_item a:hover {
    color: #a259ff;
}

.icon_user {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: 1px -68px;
}

.icon_nav {
    display: none;
}

/* RESPONSIVE HEADER */
@media screen and (max-width: 1024px) {
    .navbar {
        padding: 10.5px 30px;
        transition: .3s linear;
    }

    .menu {
        display: none;
    }

    .icon_nav {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-position: -92px -32px;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        padding: 15px 30px;
        transition: .3s linear;
    }
}

@media screen and (max-width: 375px) {
    .navbar {
        padding: 15px 16px;
        transition: .3s linear;
    }

    .logo .txt_logo {
        font-size: 16px;
    }
}

/* RESPONSIVE HEADER */

/* HEADER COMMON */