/* Nanum Barun Gothic */
@font-face {
  font-family: 'InterRegular';
  src: url(../font/Inter-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'InterMedium';
  src: url(../font/nanumBarunGothic.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'InterSemibold';
  src: url(../font/Inter-SemiBold.woff) format('woff');
  font-weight: 600;
}


@font-face {
  font-family: 'InterBold';
  src: url(../font/Inter-Bold.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'InterExtraBold';
  src: url(../font/Inter-Bold.woff) format('woff');
  font-weight: 800;
}