@@include('./include/head.html',{"title": "Document Title - Sub_01 : UIT Gulp Project", "list_title": "List Title - Sub_01 : Sub"})
<body data-pagestatus="update : 2019.06.20">
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			<div class="container">
				<div class="cat_page">
					<ul class="cat_lst">
						<li class="cat_lst_item">
							<a href="#none" class="cat_lst_link">마이페이지</a>
						</li>
						<li class="cat_lst_item">
							<a href="#none" class="cat_lst_link">로그아웃</a>
						</li>
					</ul>
				</div>
				<div class="car-cat">
					<button type="button" class="car_select btn_select">
						<div class="car_tit">
							<span class="car_tit_ico">
								<img src="../img/svg/car.svg" alt="">
							</span>
							<strong class="car_tit_name">IONIC 7</strong>
						</div>
						<span class="car-txt">JH4TB2H26CC012345</span>
					</button>
					<ul class="car_open">
						<li class="car_select">
							<div class="car_tit">
								<span class="car_tit_ico">
									<img src="../img/svg/car.svg" alt="">
								</span>
								<strong class="car_tit_name car_tit_name--gray">IONIC 7</strong>
							</div>
							<span class="car-txt car-txt--gray">JH4TB2H26CC012345</span>
						</li>
					</ul>
				</div>
			</div>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>