body,
input,
select,
textarea,
button {
    font-family: NanumBarunGothic, '나눔바른고딕', 'Nanum BarunGothic', 'Malgun Gothic', '맑은고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif
}

.blind,
caption span,
legend {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    text-indent: -9999px;
}

.skip {
    height: 0
}

.skip a {
    display: block;
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 25px;
    text-align: center
}

.skip a:focus,
#skip a:active {
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    background: #000;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-decoration: none
}