@@include('./include/head.html',{"title": "Document Title - Main : UIT Gulp Project", "list_title": "List Title - Main_01 : Main"})
<body data-pagestatus="new : 2019.10.10">
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">

			<!-- Swiper slider -->
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
				  <div class="swiper-slide">
					<img src="https://www.lexus.co.kr/source/main/RX_model_kv_pc.jpg" alt="">
					<ul class="model-title">
						<li class="model-title__name model-title__name--white">RX</li>
						<li class="model-title__text">
							<span class="model-title__txt model-title__name--white">하나의 모델, 세 가지 전동화 선택지</span>
							<p class="model-title__desc model-title__desc--white">LEXUS LIFE SIGNATURE, NEW GENERATION RX</p>
							<ul class="holder-btn">
								<li class="holder-btn__item">
									<a href="#none" class="holder-btn__link holder-btn__link--white">모델정보</a>
								</li>
								<li class="holder-btn__item">
									<a href="#none" class="holder-btn__link holder-btn__link--white">시승신청</a>
								</li>
							</ul>
						</li>
					</ul>
				  </div>
				  <div class="swiper-slide">
					<img src="https://www.lexus.co.kr/source/main/RZ_model_kv_pc_1.jpg" alt="">
					<ul class="model-title">
						<li class="model-title__name model-title__name--black">RZ</li>
						<li class="model-title__text">
							<span class="model-title__txt model-title__name--black">렉서스 최초의 전기차 전용 모델</span>
							<p class="model-title__desc model-title__desc--black">THE ALL NEW ELECTRIC LEXUS RZ 450e</p>
							<ul class="holder-btn">
								<li class="holder-btn__item">
									<a href="#none" class="holder-btn__link holder-btn__link--black">모델정보</a>
								</li>
								<li class="holder-btn__item">
									<a href="#none" class="holder-btn__link holder-btn__link--black">시승신청</a>
								</li>
							</ul>
						</li>
					</ul>
				  </div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

			<!-- Section 1 -->
			<section class="models-section">
				<div class="models-title">
					<h2 class="title">MODELS</h2>
					<ul class="models-lst">
						<li class="models-lst__item">
							<button type="button" class="models-lst__btn is_active">ELECTRIFIED</button>
						</li>
						<li class="models-lst__item">
							<button type="button" class="models-lst__btn">F SPORT</button>
						</li>
						<li class="models-lst__item">
							<button type="button" class="models-lst__btn">SEDAN</button>
						</li>
						<li class="models-lst__item">
							<button type="button" class="models-lst__btn">SUV</button>
						</li>
						<li class="models-lst__item">
							<button type="button" class="models-lst__btn">PERFORMANCE</button>
						</li>
						<li class="models-lst__item">
							<button type="button" class="models-lst__btn">FUTURE</button>
						</li>
					</ul>
				</div>
				<div class="swiper  slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="swiper__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div class="swiper__image">
								<img src="../img/section1/img_car01_.png" alt="">
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>
