@@include('./include/head.html',{"title": "Lexus"})
<body data-pagestatus="new : 2019.10.10">
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			<button type="button" class="lexus-messenger"></button>

			<!-- Swiper slider -->
			<div class="swiper slider-banner">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
					  <img class="image-pc" src="https://www.lexus.co.kr/source/main/8월_전국시승회_KV_PC_2.jpg" alt="">
					  <img class="image-mb" src="https://www.lexus.co.kr/source/main/8월_전국시승회_KV_MO_1.jpg" alt="">
					  <ul class="model-title model-title--special">
						  <li class="model-title__box model-title__box--special">
							  <span class="model-title__txt model-title__txt--white model-title__txt--special">2023 LEXUS AUG SUMMER DRIVING</span>
							  <p class="model-title__desc model-title__desc--white model-title__desc--special">렉서스가 8월 전국 시승 이벤트를 진행합니다.<br>렉서스 차량을 시승하고, 제주도로 떠나는 행운의 기회를 잡아보세요.</p>
							  <ul class="btn btn--special">
								  <li class="btn__item">
									  <a href="#none" class="btn__link btn__link--white btn__link--special">모델정보</a>
								  </li>
							  </ul>
						  </li>
					  </ul>
					</div>
				  <div class="swiper-slide">
					<img class="image-pc" src="https://www.lexus.co.kr/source/main/RX_model_kv_pc.jpg" alt="">
					<img class="image-mb" src="https://www.lexus.co.kr/source/main/RX_model_kv_mo_1.jpg" alt="">
					<ul class="model-title">
						<li class="model-title__name model-title__name--white">RX</li>
						<li class="model-title__box">
							<span class="model-title__txt model-title__txt--white">하나의 모델, 세 가지 전동화 선택지</span>
							<p class="model-title__desc model-title__desc--white">LEXUS LIFE SIGNATURE, NEW GENERATION RX</p>
							<ul class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link btn__link--white">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link btn__link--white">시승신청</a>
								</li>
							</ul>
						</li>
					</ul>
				  </div>
				  <div class="swiper-slide">
					<img class="image-pc" src="https://www.lexus.co.kr/source/main/RZ_model_kv_pc_1.jpg" alt="">
					<img class="image-mb" src="https://www.lexus.co.kr/source/main/@RZ_kv_mo_3-2.jpg" alt="">
					<ul class="model-title">
						<li class="model-title__name model-title__name--black">RZ</li>
						<li class="model-title__box">
							<span class="model-title__txt model-title__txt--black">렉서스 최초의 전기차 전용 모델</span>
							<p class="model-title__desc model-title__desc--black">THE ALL NEW ELECTRIC LEXUS RZ 450e</p>
							<ul class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link btn__link--black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link btn__link--black">시승신청</a>
								</li>
							</ul>
						</li>
					</ul>
				  </div>
				  <div class="swiper-slide">
					<img class="image-pc" src="https://www.lexus.co.kr/source/main/침수피해_KV_PC_1.jpg" alt="">
					<img class="image-mb" src="https://www.lexus.co.kr/source/main/침수피해_KV_MO.jpg" alt="">
					<ul class="model-title model-title--special">
						<li class="model-title__box model-title__box--special">
							<span class="model-title__txt model-title__txt--white model-title__txt--special">렉서스 침수 피해 차량 대상 특별 지원 캠페인</span>
							<p class="model-title__desc model-title__desc--white model-title__desc--special">집중 호우로 인해 침수 및 파손 피해를 입은 렉서스 차량을 대상으로 특별 지원 캠페인을 실시합니다.</p>
							<ul class="btn btn--special">
								<li class="btn__item">
									<a href="#none" class="btn__link btn__link--white">모델정보</a>
								</li>
							</ul>
						</li>
					</ul>
				  </div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

			<!-- Section 1 models -->
			<section class="models-section">
				<div class="models-title">
					<h2 class="title">MODELS</h2>
					<ul class="models-lst">
						<li class="models-lst__item">
							<button type="button" id-slider="slide1" class="models-lst__btn is-active">ELECTRIFIED</button>
						</li>
						<li class="models-lst__item">
							<button type="button" id-slider="slide2" class="models-lst__btn">FSPORT</button>
						</li>
						<li class="models-lst__item">
							<button type="button" id-slider="slide3" class="models-lst__btn">SEDAN</button>
						</li>
						<li class="models-lst__item">
							<button type="button" id-slider="slide4" class="models-lst__btn">SUV</button>
						</li>
						<li class="models-lst__item">
							<button type="button" id-slider="slide5" class="models-lst__btn">PERFORMANCE</button>
						</li>
						<li class="models-lst__item">
							<button type="button" id-slider="slide6" class="models-lst__btn">FUTURE</button>
						</li>
					</ul>
				</div>
				<div class="slide-models">
					<div data-id-slider="slide1" class="swiper slider-models__one is-on">
						<div class="swiper-text">
							<div id-active="active1" class="swiper-text__content is-on">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">84,900,000 원~</span>
							</div>
							<div id-active="active2" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">RX 350h</strong>
								<span class="swiper__price">RX 350h</span>
							</div>
							<div id-active="active3" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">RX 450h+</strong>
								<span class="swiper__price">109,930,000 원</span>
							</div>
							<div id-active="active4" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">RX 500h</strong>
								<span class="swiper__price">117,030,000 원</span>
							</div>
							<div id-active="active5" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 350h</strong>
								<span class="swiper__price">66,700,000 원~</span>
							</div>
							<div id-active="active6" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+</strong>
								<span class="swiper__price">74,900,000 원</span>
							</div>
							<div id-active="active7" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active8" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">ES 300h</strong>
								<span class="swiper__price">64,800,000 원~</span>
							</div>
							<div id-active="active9" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">ES 300h F SPORT</strong>
								<span class="swiper__price">74,100,000 원</span>
							</div>
							<div id-active="active10" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LS 500h</strong>
								<span class="swiper__price">153,430,000 원~</span>
							</div>
							<div id-active="active11" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">153,430,000 원~</strong>
								<span class="swiper__price">58,600,000 원</span>
							</div>
							<div id-active="active12" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">UX 250h 2WD</strong>
								<span class="swiper__price">50,900,000 원</span>
							</div>
							<div id-active="active13" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">UX 250h F SPORT</strong>
								<span class="swiper__price">56,400,000 원</span>
							</div>
							<div id-active="active14" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LC 500h</strong>
								<span class="swiper__price">192,400,000 원</span>
							</div>
						</div>
						<div class="swiper-wrapper">
							<div active-slide="active1" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car01_.png" alt="">
								</div>
							</div>
							<div active-slide="active2" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car02_.png" alt="">
								</div>
							</div>
							<div active-slide="active3" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car03_.png" alt="">
								</div>
							</div>
							<div active-slide="active4" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car04_.png" alt="">
								</div>
							</div>
							<div active-slide="active5" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car05_.png" alt="">
								</div>
							</div>
							<div active-slide="active6" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car06_.png" alt="">
								</div>
							</div>
							<div active-slide="active7" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car07_.png" alt="">
								</div>
							</div>
							<div active-slide="active8" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car08_.png" alt="">
								</div>
							</div>
							<div active-slide="active9" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car09_.png" alt="">
								</div>
							</div>
							<div active-slide="active10" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car10_.png" alt="">
								</div>
							</div>
							<div active-slide="active11" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car11_.png" alt="">
								</div>
							</div>
							<div active-slide="active12" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car12_.png" alt="">
								</div>
							</div>
							<div active-slide="active13" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car13_.png" alt="">
								</div>
								
							</div>
							<div active-slide="active14" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car14_.png" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-desc">
							<div id-active="active1" class="swiper-desc__content is-on">
								<span>* 오토케어리스 판매로, 상세 금액 상담 필요</span>
							</div>
							<div id-active="active2" class="swiper-desc__content">
							</div>
						</div>
						<div class="btn-wrap">
							<ul id-active="active1" class="btn is-on" >
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active2" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active3" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active4" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active5" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active6" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active7" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active8" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active9" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active10" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active11" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active12" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active13" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active14" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
							</ul>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div data-id-slider="slide2" class="swiper slider-models__one">
						<div class="swiper-text">
							<div id-active="active1" class="swiper-text__content is-on">
								<span class="swiper__small">BEV</span>
								<strong class="swiper__title">RX 500h</strong>
								<span class="swiper__price">117,030,000 원</span>
							</div>
							<div id-active="active2" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">ES 300h F SPORT</strong>
								<span class="swiper__price">74,100,000 원</span>
							</div>
							<div id-active="active3" class="swiper-text__content">
								<span class="swiper__small">PHEV</span>
								<strong class="swiper__title">UX 250h F SPORT</strong>
								<span class="swiper__price">56,400,000 원</span>
							</div>
							<div id-active="active4" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
						</div>
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div active-slide="active1" class="swiper__image">
									<img src="../img/section1/img_car15_.png" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div active-slide="active2" class="swiper__image">
									<img src="../img/section1/img_car16_.png" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div active-slide="active3" class="swiper__image">
									<img src="../img/section1/img_car17_.png" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div active-slide="active4" class="swiper__image">
									<img src="../img/section1/img_car18_.png" alt="">
								</div>
							</div>
						</div>
						<div class="btn-wrap">
							<ul id-active="active1" class="btn is-on" >
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active2" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active3" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active4" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div data-id-slider="slide3" class="swiper slider-models__one">
						<div class="swiper-text">
							<div id-active="active1" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">RX 500h</strong>
								<span class="swiper__price">117,030,000 원</span>
							</div>
							<div id-active="active2" class="swiper-text__content">
								<span class="swiper__small">PHEV</span>
								<strong class="swiper__title">ES 300h F SPORT</strong>
								<span class="swiper__price">74,100,000 원</span>
							</div>
							<div id-active="active3" class="swiper-text__content">
								<span class="swiper__small">PHEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active4" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
						</div>
						<div class="swiper-wrapper">
							<div active-slide="active1" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car19_.png" alt="">
								</div>
							</div>
							<div active-slide="active2" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car20_.png" alt="">
								</div>
							</div>
							<div active-slide="active3" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car21_.png" alt="">
								</div>
							</div>
							<div active-slide="active4" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car22_.png" alt="">
								</div>
							</div>
						</div>
						<div class="btn-wrap">
							<ul id-active="active1" class="btn is-on" >
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active2" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active3" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active4" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div data-id-slider="slide4" class="swiper slider-models__one">
						<div class="swiper-text">
							<div id-active="active" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">RX 500h</strong>
								<span class="swiper__price">117,030,000 원</span>
							</div>
							<div id-active="active1" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">ES 300h F SPORT</strong>
								<span class="swiper__price">74,100,000 원</span>
							</div>
							<div id-active="active2" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active3" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active4" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active5" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active6" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active7" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active8" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active9" class="swiper-text__content">
								<span class="swiper__small">PHEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
							<div id-active="active10" class="swiper-text__content">
								<span class="swiper__small">PHEV</span>
								<strong class="swiper__title">NX 450h+ F SPORT</strong>
								<span class="swiper__price">82,000,000 원</span>
							</div>
						</div>
						<div class="swiper-wrapper">
							<div active-slide="active1" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car23_.png" alt="">
								</div>
							</div>
							<div active-slide="active2" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car24_.png" alt="">
								</div>
							</div>
							<div active-slide="active3" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car25_.png" alt="">
								</div>
							</div>
							<div active-slide="active4" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car26_.png" alt="">
								</div>
							</div>
							<div active-slide="active5" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car27_.png" alt="">
								</div>
							</div>
							<div active-slide="active6" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car28_.png" alt="">
								</div>
							</div>
							<div active-slide="active7" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car29_.png" alt="">
								</div>
							</div>
							<div active-slide="active8" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car30_.png" alt="">
								</div>
							</div>
							<div active-slide="active9" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car31_.png" alt="">
								</div>
							</div>
							<div active-slide="active10" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car32_.png" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-desc">
							<div id-active="active1" class="swiper-desc__content is-on">
								<span>* 오토케어리스 판매로, 상세 금액 상담 필요</span>
							</div>
							<div id-active="active2" class="swiper-desc__content">
							</div>
						</div>
						<div class="btn-wrap">
							<ul id-active="active1" class="btn is-on" >
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active2" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active3" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active4" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active5" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active6" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active7" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active8" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active9" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
							<ul id-active="active10" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div data-id-slider="slide5" class="swiper slider-models__one">
						<div class="swiper-text">
							<div id-active="active1" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LC 500h</strong>
								<span class="swiper__price">192,400,000 원</span>
							</div>
							<div id-active="active2" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LC 500h</strong>
								<span class="swiper__price">181,700,000 원</span>
							</div>
							<div id-active="active3" class="swiper-text__content">
								<span class="swiper__small">HEV</span>
								<strong class="swiper__title">LC 500 CONVERTIBLE</strong>
								<span class="swiper__price">190,500,000 원</span>
							</div>
						</div>
						<div class="swiper-wrapper">
							<div active-slide="active1" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car33_.png" alt="">
								</div>
							</div>
							<div active-slide="active2" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car34_.png" alt="">
								</div>
							</div>
							<div active-slide="active3" class="swiper-slide">
								<div class="swiper__image">
									<img src="../img/section1/img_car35_.png" alt="">
								</div>
							</div>
						</div>
						<div class="btn-wrap">
							<ul id-active="active1" class="btn is-on" >
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul id-active="active2" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul id-active="active3" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">모델정보</a>
								</li>
								<li class="btn__item">
									<a href="#none" class="btn__link is-black">시승신청</a>
								</li>
							</ul>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div data-id-slider="slide6" class="swiper slider-models__two">
						<div class="swiper-wrapper">
							<div data-id="title1" class="swiper-slide">
								<img class="image-pc" src="../img/section1/img_FUTURE_LS_02.jpg" alt="">
								<img class="image-mb" src="../img/section1/FUTURE_LF-1 Limitless_1.jpg" alt="">
							</div>
							<div data-id="title2" class="swiper-slide">
								<img class="image-pc" src="../img/section1/img_FUTURE_LS_01.jpg" alt="">
								<img class="image-mb" src="../img/section1/FUTURE_LS__1.jpg" alt="">
							</div>
							<div data-id="title3" class="swiper-slide">
								<img class="image-pc" src="../img/section1/img_FUTURE_LS_03.jpg" alt="">
								<img class="image-mb" src="../img/section1/FUTURE_LF-FC_1.jpg" alt="">
							</div>
							<div data-id="title4" class="swiper-slide">
								<img class="image-pc" src="../img/section1/img_FUTURE_LS_04.jpg" alt="">
								<img class="image-mb" src="../img/section1/FUTURE_LF-SA_1.jpg" alt="">
							</div>
							<div data-id="title5" class="swiper-slide">
								<img class="image-pc" src="../img/section1/img_FUTURE_LS_05.jpg" alt="">
								<img class="image-mb" src="../img/section1/test3.jpg" alt="">
							</div>
							<div data-id="title6" class="swiper-slide">
								<img class="image-pc" src="../img/section1/img_FUTURE_LS_06.jpg" alt="">
								<img class="image-mb" src="../img/section1/FUTURE_LF_Z_1.jpg" alt="">
							</div>
							<div data-id="title7" class="swiper-slide">
								<img class="image-pc" src="../img/section1/img_FUTURE_LS_07.jpg" alt="">
								<img class="image-mb" src="../img/section1/FUTURE_LF-30_3.jpg" alt="">
							</div>
						</div>
						<div class="title-name">
							<strong data-title="title1" class="title-name__txt is-on">LF-1 Limitless</strong>
							<strong data-title="title2" class="title-name__txt">LS+</strong>
							<strong data-title="title3" class="title-name__txt">LF-FC</strong>
							<strong data-title="title4" class="title-name__txt">LF-SA</strong>
							<strong data-title="title5" class="title-name__txt">LF-C2</strong>
							<strong data-title="title6" class="title-name__txt">LF-Z Electrified</strong>
							<strong data-title="title7" class="title-name__txt">LF-30 Electrified</strong>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<div class="btn-wrap">
							<ul data-title="title1" class="btn is-on" >
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title2" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title3" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title4" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title5" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title6" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title7" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title8" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title9" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
							<ul data-title="title10" class="btn">
								<li class="btn__item">
									<a href="#none" class="btn-models btn__link is-black">모델정보</a>
								</li>
							</ul>
						</div>
						<div class="swiper-pagination"></div>
					  </div>
				</div>
			</section>
			<section class="offers-section">
				<div class="offers-title">
					<h2 class="title">OFFERS</h2>
					<a href="#none" class="offers-title__link">전체 혜택 확인하기</a>
				</div>
				<div class="offers-slider">
					<div class="swiper offers-mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<figure class="offers-image">
									<img class="image-pc" src="https://www.lexus.co.kr/source/main/Offers_RZ_pc.jpg" alt="">
									<img class="image-mb" src="../img/section1/Offers_RZ_mo.jpg" alt=""></figure>
								<div class="offers-box">
									<div class="offers-box__inner">
										<div class="offers-text">
											<strong class="offers-text__name">ES 300h</strong>
											<ul class="offers-text__lst">
												<li class="offers-text__item">* 오토케어리스 구매고객 대상, </li>
												<li class="offers-text__item">- 전기차 전용 메인터넌스 및 픽업 &#38; 딜리버리스 서비스</li>
												<li class="offers-text__item">- 배터리 방전 시, 무상 견인 서비스 제공</li>
											</ul>
										</div>
										<ul class="btn">
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">모델정보</a>
											</li>
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">시승신청</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<figure class="offers-image">
									<img class="image-pc" src="https://www.lexus.co.kr/source/main/Offers_RX_pc.jpg" alt="">
									<img class="image-mb" src="../img/section1/Offers_RX_mo.jpg" alt=""></figure>
								<div class="offers-box">
									<div class="offers-box__inner">
										<div class="offers-text">
											<strong class="offers-text__name">RX 450h+</strong>
											<ul class="offers-text__lst">
												<li class="offers-text__item">- 충전 멤버십 카드 지급(50만원)</li>
											</ul>
										</div>
										<ul class="btn">
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">모델정보</a>
											</li>
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">시승신청</a>
											</li>
										</ul>
									</div>	
								</div>
							</div>
							<div class="swiper-slide">
								<figure class="offers-image">
									<img class="image-pc" src="https://www.lexus.co.kr/source/main/OFFERS_ES_1920x1127.jpg" alt="">
									<img class="image-mb" src="../img/section1/OFFERS_ES.jpg" alt=""></figure>
								<div class="offers-box">
									<div class="offers-box__inner">
										<div class="offers-text">
											<strong class="offers-text__name">ES 300h</strong>
											<ul class="offers-text__lst">
												<li class="offers-text__item">- TFSKR 금융 프로그램 제공</li>
												<li class="offers-text__item">- 현금 및 타사/할부 리스 구매 시 PMS 1매 제공</li>
											</ul>
										</div>
										<ul class="btn">
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">모델정보</a>
											</li>
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">시승신청</a>
											</li>
										</ul>
									</div>	
								</div>
							</div>
							<div class="swiper-slide">
								<figure class="offers-image">
									<img class="image-pc" src="https://www.lexus.co.kr/source/main/OFFERS_NX_1920x1127.jpg" alt="">
									<img class="image-mb" src="../img/section1/OFFERS_NX_mb.jpg" alt=""></figure>
								<div class="offers-box">
									<div class="offers-box__inner">
										<div class="offers-text">
											<strong class="offers-text__name">NX 450h+/NX 450h+ F SPORT</strong>
											<ul class="offers-text__lst">
												<li class="offers-text__item">- 충전 멤버십카드 지급(50만원)</li>
											</ul>
										</div>
										<ul class="btn">
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">모델정보</a>
											</li>
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">시승신청</a>
											</li>
										</ul>
									</div>	
								</div>
							</div>
							<div class="swiper-slide">
								<figure class="offers-image">
									<img class="image-pc" src="https://www.lexus.co.kr/source/main/OFFERS_LS_1920x1127.jpg" alt="">
									<img class="image-mb" src="../img/section1/OFFERS_LS.jpg" alt=""></figure>
								<div class="offers-box">
									<div class="offers-box__inner">
										<div class="offers-text">
											<strong class="offers-text__name">LS 500h / LS 500</strong>
											<ul class="offers-text__lst">
												<li class="offers-text__item">- 법인명의 차량교체 지원 및 개인명의 국산 Flagship 차량 업그레이드 지원</li>
												<li class="offers-text__item">- TFSKR 금융 프로그램 제공</li>
												<li class="offers-text__item">- PMS 프리미엄 1 매 제공</li>
											</ul>
										</div>
										<ul class="btn">
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">모델정보</a>
											</li>
											<li class="btn__item">
												<a href="#none" class="btn__link btn__link--black">시승신청</a>
											</li>
										</ul>
									</div>	
								</div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</section>
			<section class="banner-section">
				<ul class="banner-lst">
					<li class="banner-lst__item">
						<a href="#none">
							<figure class="banner-image image-pc" style="background-image: url(../img/section3/img_banner_1.jpg);"></figure>
							<figure class="banner-image image-mb" style="background-image: url(../img/section3/offers2.jpg);"></figure>
							<div class="banner-content">
								<strong class="banner-content__title">렉서스 금융 프로그램</strong>
								<p class="banner-content__desc">렉서스 모델을 더욱 합리적이고 특별하게 경헐할 수 있는 <br> 다양한 금융 프로그램을 확인하세요.</p>
								<button type="button" class="banner-content__btn">자세히 보기</button>
							</div>
						</a>
					</li>
					<li class="banner-lst__item">
						<a href="#none">
							<figure class="banner-image" style="background-image: url(https://www.lexus.co.kr/source/main/OFFERS_중고차_960x770_1.jpg);"></figure>
							<figure class="banner-image image-mb" style="background-image: url(../img/section3/1_5.jpg);"></figure>
							<div class="banner-content">
								<strong class="banner-content__title">렉서스 금융 프로그램</strong>
								<p class="banner-content__desc">렉서스 모델을 더욱 합리적이고 특별하게 경헐할 수 있는 <br> 다양한 금융 프로그램을 확인하세요.</p>
								<button type="button" class="banner-content__btn">자세히 보기</button>
							</div>
						</a>
					</li>
					<li class="banner-lst__item">
						<a href="#none">
							<figure class="banner-image" style="background-image: url(https://www.lexus.co.kr/source/main/OFFERS_오토케어리스_960x770.jpg);"></figure>
							<figure class="banner-image image-mb" style="background-image: url(../img/section3/RZC0008_01_6.jpg);"></figure>
							<div class="banner-content">
								<strong class="banner-content__title banner-content__title--white">렉서스 금융 프로그램</strong>
								<p class="banner-content__desc banner-content__desc--white">렉서스 모델을 더욱 합리적이고 특별하게 경헐할 수 있는 <br> 다양한 금융 프로그램을 확인하세요.</p>
								<button type="button" class="banner-content__btn banner-content__btn--white">자세히 보기</button>
							</div>
						</a>
					</li>
				</ul>
			</section>
			<section class="stories-section">
				<h2 class="title">LEXUS <br> STORIES</h2>
				<ul class="stories-lst">
					<li class="stories-lst__item">
						<a href="#none" class="stories-lst__link">
							<div class="stories-lst__txt">
								<strong class="stories-lst__title">LEXUS LOUNGE</strong>
							</div>
							<div class="stories-lst__image">
								<img class="image-pc" src="https://www.lexus.co.kr/source/main/STORIES_추가1_2.jpg" alt="">
								<img class="image-mb" src="https://www.lexus.co.kr/source/main/STORIES_추가1_3.jpg" alt="">
							</div>
						</a>
					</li>
					<li class="stories-lst__item">
						<a href="#none" class="stories-lst__link">
							<div class="stories-lst__txt">
								<strong class="stories-lst__title">24시간 서비스 예약전용 <br> AI 콜센터</strong>
							</div>
							<div class="stories-lst__image">
								<img class="image-pc" src="https://www.lexus.co.kr/source/main/STORIES_콜센터__1216x410.jpg" alt="">
								<img class="image-mb" src="https://www.lexus.co.kr/source/main/STORIES_콜센터.jpg" alt="">
							</div>
						</a>
					</li>
					<li class="stories-lst__item">
						<a href="#none" class="stories-lst__link">
							<div class="stories-lst__txt">
								<strong class="stories-lst__title">저금리 구매혜택</strong>
							</div>
							<div class="stories-lst__image">
								<img class="image-pc" src="https://www.lexus.co.kr/source/main/STORIES_ES__1216x410.jpg" alt="">
								<img class="image-mb" src="https://www.lexus.co.kr/source/main/STORIES_ES.jpg" alt="">
							</div>
						</a>
					</li>
					<li class="stories-lst__item">
						<a href="#none" class="stories-lst__link">
							<div class="stories-lst__txt">
								<strong class="stories-lst__title">LEXUS CREATIVE MASTERS 2023 <br> 최종 수상자 5인의 이야기</strong>
							</div>
							<div class="stories-lst__image">
								<img class="image-pc" src="https://www.lexus.co.kr/source/main/STORIES_추가3.jpg" alt="">
								<img class="image-mb" src="https://www.lexus.co.kr/source/main/STORIES_추가3_1.jpg" alt="">
							</div>
						</a>
					</li>
				</ul>
				<button type="button" class="stories-btn">
					<strong class="stories-btn__load">렉서스 스토리 더보기</strong>
					<span class="stories-btn__plus">+</span>
				</button>
				<ul class="stories-category">
					<li class="stories-category__item">
						<a href="#none" class="stories-category__link">#ALL</a>
					</li>
					<li class="stories-category__item">
						<a href="#none" class="stories-category__link">#BRAND STORY</a>
					</li>
					<li class="stories-category__item">
						<a href="#none" class="stories-category__link">#ELECTRIFIED</a>
					</li>
					<li class="stories-category__item">
						<a href="#none" class="stories-category__link">#TESTDRIVE CAMPAIGN</a>
					</li>
					<li class="stories-category__item">
						<a href="#none" class="stories-category__link">#LEXUS CREATIVE MASTERS</a>
					</li>
				</ul>
			</section>
			<section class="brand-section">
				<div class="brand-film">
					<button type="button" class="brand-film__btn">
						<figure class="brand-film__image">
							<img class="image-pc" src="https://www.lexus.co.kr/source/main/브랜드필름_1920x770.jpg" alt="">
							<img class="image-mb" src="https://www.lexus.co.kr/source/main/브랜드필름_720x770.jpg" alt="">
						</figure>
					</button>
					<div class="brand-film__popup">
						<iframe width="80%" height="80%" src="https://www.youtube.com/embed/lTmMs-EJGxM" title="[렉서스] Lexus Authentic Luxury" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						<button type="button" class="btn-close">
							<span class="btn-close__item"></span>
							<span class="btn-close__item"></span>
						</button>
					</div>
				</div>
			</section>
			<section class="text-banner-section">
				<div class="text-title">
					<h2 class="title">SUPPORT</h2>
					<ul class="icon-lst">
						<li class="icon-lst__item">
							<a href="#none" class="icon-lst__link">
								<img class="icon-lst__image" src="../img/svg/icon-stories-instagram.svg" alt="">
								<img class="icon-lst__image" src="../img/svg/icon-stories-instagram_hover.svg" alt="">
							</a>
						</li>
						<li class="icon-lst__item">
							<a href="#none" class="icon-lst__link">
								<img class="icon-lst__image" src="../img/svg/icon-stories-facebook.svg" alt="">
								<img class="icon-lst__image" src="../img/svg/icon-stories-facebook_hover.svg" alt="">
							</a>
						</li>
						<li class="icon-lst__item">
							<a href="#none" class="icon-lst__link">
								<img class="icon-lst__image" src="../img/svg/icon-stories-youtube.svg" alt="">
								<img class="icon-lst__image" src="../img/svg/icon-stories-youtube_hover.svg" alt="">
							</a>
						</li>
					</ul>
				</div>
				<ul class="text-banner">
					<li class="text-banner__item">
						<a href="#none" class="content">
							<strong class="content__item content__text">합리적이고 다양한 구매혜택을 알아보세요.</strong>
							<button type="button" class="content__item content__btn">구매혜택</button>
						</a>
					</li>
					<li class="text-banner__item">
						<a href="#none" class="content">
							<strong class="content__item content__text">원하는 렉서스 차량의 견적을 확인해보세요.</strong>
							<button type="button" class="content__item content__btn">견적조회</button>
						</a>
					</li>
					<li class="text-banner__item">
						<a href="#none" class="content">
							<strong class="content__item content__text">나에게 가까운 렉서스 전시장을 찾아보세요.</strong>
							<button type="button" class="content__item content__btn">전시장찾기</button>
						</a>
					</li>
					<li class="text-banner__item">
						<a href="#none" class="content">
							<strong class="content__item content__text">쉽고 빠르게 차량 시승 서비스를 신청하세요.</strong>
							<button type="button" class="content__item content__btn">시승신청</button>
						</a>
					</li>
				</ul>
			</section>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

@@include('./include/script.html')
</body>
</html>
