@@include('./include/head.html',{"title": "Lexus"})

<body data-pagestatus="new : 2019.10.10">
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content__models">
			<div class="container">
				<div class="models-slider sliderBanner">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img image-id-slide="slide1" src="https://www.lexus.co.kr/source/car/LS_kv_pc_01_2.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide2" src="https://www.lexus.co.kr/source/car/LS_kv_pc_02_4.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide3" src="https://www.lexus.co.kr/source/car/LS_kv_pc_03_2.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide4" src="https://www.lexus.co.kr/source/car/LS_kv_pc_04_3.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide5" src="https://www.lexus.co.kr/source/car/LS_kv_pc_05_3.jpg" alt="">
						</div>
					</div>
					<div class="slider-content">
						<h2 class="slider-content__title">LS</h2>
						<div class="slider-content__desc">
							<p text-id-slide="slide1" class="slider-content__txt is-on">멀티 스테이지 하이브리드 <br> NEW LS 500h</p>
							<p text-id-slide="slide2" class="slider-content__txt">시선을 끄는 NEW LS의 디자인은 <br> 럭셔리 플래그십 세단의 존재감을 드러냅니다.</p>
							<p text-id-slide="slide3" class="slider-content__txt">손길이 닿는 모든 곳에서 <br> 섬세하고 정교한 장인정신을 느낄 수 있습니다.</p>
							<p text-id-slide="slide4" class="slider-content__txt">정숙하면서 자신감이 느껴지는 승차감은 <br> 도로 위 즐거움을 선사합니다.</p>
							<p text-id-slide="slide5" class="slider-content__txt">NEW LS는 세이프티 시스템과 첨단 기술력으로 <br> 높은 내구성을 구현했습니다.</p>
						</div>
					</div>
					<div class="btn-slider">
						<button type="button" class="btn-play is-play"></button>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<div class="models-body">
				<div class="container">
					<ul class="menu-lst">
						<li class="menu-lst__item">
							<a class="menu-lst__link is-active" href="#none">LS 500h</a>
						</li>
						<li class="menu-lst__item">
							<a class="menu-lst__link" href="#none">LS 500</a>
						</li>
					</ul>
					<div class="info-product">
						<div class="info-inner">
							<ul class="info-lst">
								<li class="info-lst__item">
									<span class="title">배기량</span>
									<span class="parameter">3,456cc</span>
								</li>
								<li class="info-lst__item">
									<span class="title">시스템 총 출력</span>
									<span class="parameter">359 ps</span>
								</li>
								<li class="info-lst__item">
									<span class="title">연비 (복합)</span>
									<span class="parameter">9.6km/l(4등급)</span>
								</li>
								<li class="info-lst__item">
									<span class="title">권장소비자가격</span>
									<span class="parameter">174,030,000원</span>
								</li>
							</ul>
							<a href="#none" class="select-grade">
								<span class="title">등급</span>
								<button type="button" class="parameter btn-select">PLATINUM</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	@@include('./include/script.html')
</body>

</html>