@@include('./include/head.html',{"title": "Lexus"})

<body data-pagestatus="new : 2019.10.10">
	@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
		@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content__models">
			<div class="container">
				<div class="models-slider sliderBanner">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img image-id-slide="slide1" src="https://www.lexus.co.kr/source/car/LS_kv_pc_01_2.jpg"
								alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide2" src="https://www.lexus.co.kr/source/car/LS_kv_pc_02_4.jpg"
								alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide3" src="https://www.lexus.co.kr/source/car/LS_kv_pc_03_2.jpg"
								alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide4" src="https://www.lexus.co.kr/source/car/LS_kv_pc_04_3.jpg"
								alt="">
						</div>
						<div class="swiper-slide">
							<img image-id-slide="slide5" src="https://www.lexus.co.kr/source/car/LS_kv_pc_05_3.jpg"
								alt="">
						</div>
					</div>
					<div class="slider-content">
						<h2 class="slider-content__title">LS</h2>
						<div class="slider-content__desc">
							<p text-id-slide="slide1" class="slider-content__txt is-on">멀티 스테이지 하이브리드 <br> NEW LS 500h</p>
							<p text-id-slide="slide2" class="slider-content__txt">시선을 끄는 NEW LS의 디자인은 <br> 럭셔리 플래그십 세단의
								존재감을 드러냅니다.</p>
							<p text-id-slide="slide3" class="slider-content__txt">손길이 닿는 모든 곳에서 <br> 섬세하고 정교한 장인정신을 느낄 수
								있습니다.</p>
							<p text-id-slide="slide4" class="slider-content__txt">정숙하면서 자신감이 느껴지는 승차감은 <br> 도로 위 즐거움을
								선사합니다.</p>
							<p text-id-slide="slide5" class="slider-content__txt">NEW LS는 세이프티 시스템과 첨단 기술력으로 <br> 높은
								내구성을 구현했습니다.</p>
						</div>
					</div>
					<div class="btn-slider">
						<button type="button" class="btn-play is-play"></button>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<div class="models-body">
				<div class="container">
					<ul class="menu-lst">
						<li class="menu-lst__item">
							<a class="menu-lst__link is-active" href="#none">LS 500h</a>
						</li>
						<li class="menu-lst__item">
							<a class="menu-lst__link" href="#none">LS 500</a>
						</li>
					</ul>
					<div class="info-product">
						<div class="info-inner">
							<ul class="info-lst">
								<li class="info-lst__item">
									<span class="title">배기량</span>
									<span class="parameter">3,456cc</span>
								</li>
								<li class="info-lst__item">
									<span class="title">시스템 총 출력</span>
									<span class="parameter">359 ps</span>
								</li>
								<li class="info-lst__item">
									<span class="title">연비 (복합)</span>
									<span class="parameter">9.6km/l(4등급)</span>
								</li>
								<li class="info-lst__item">
									<span class="title">권장소비자가격</span>
									<span class="parameter">174,030,000원</span>
								</li>
							</ul>
							<div class="select-grade">
								<a href="#none" class="parameter-link">
									<span class="title">등급</span>
									<button type="button" class="parameter btn-select">PLATINUM</button>
								</a>
								<ul class="info-menu">
									<li class="info-menu__item">
										<a class="info-menu__link is-active" href="#none">PLATINUM</a>
									</li>
									<li class="info-menu__item">
										<a class="info-menu__link" href="#none">LUXURY</a>
									</li>
								</ul>
							</div>
							<div class="btn-grade">
								<button type="button" class="btn-grade__info btn-grade__info--white">차량비교</button>
								<button type="button" class="btn-grade__info btn-grade__info--black">시승신청</button>
							</div>
						</div>
					</div>
					<div class="info-cat">
						<div class="btn-prev">
							<a href="#none" class="ico-link">
								<img src="../img/svg/ico_next.svg" alt="">
							</a>
						</div>
						<ul class="cat-lst">
							<li class="cat-lst__item">
								<a href="#none" class="cat-lst__link is-active">디자인</a>
							</li>
							<li class="cat-lst__item">
								<a href="#none" class="cat-lst__link">퍼포먼스</a>
							</li>
							<li class="cat-lst__item">
								<a href="#none" class="cat-lst__link">안전사양</a>
							</li>
							<li class="cat-lst__item">
								<a href="#none" class="cat-lst__link">주요특징</a>
							</li>
							<li class="cat-lst__item">
								<a href="#none" class="cat-lst__link">스펙</a>
							</li>
						</ul>
						<div class="btn-next">
							<a href="#none" class="ico-link">
								<img src="../img/svg/ico_next.svg" alt="">
							</a>
						</div>
					</div>
					<div class="products">
						<div class="products-title">360 <span></span></div>
						<ul class="products-lst">
							<li class="products-lst__item is-active">
								<button class="btn-prev">
									<img src="../img/svg/guide_vr360_l.svg" alt="">
									<img src="../img/svg/guide_vr360_l_on.svg" alt="">
								</button>
								<div id="product" class="prod">
									<img src="../img/product/product_1/car_0.jpg" alt="" class="is-active" />
									<img src="../img/product/product_1/car_1.jpg" alt="" />
									<img src="../img/product/product_1/car_2.jpg" alt="" />
									<img src="../img/product/product_1/car_3.jpg" alt="" />
									<img src="../img/product/product_1/car_4.jpg" alt="" />
									<img src="../img/product/product_1/car_5.jpg" alt="" />
									<img src="../img/product/product_1/car_6.jpg" alt="" />
									<img src="../img/product/product_1/car_7.jpg" alt="" />
									<img src="../img/product/product_1/car_8.jpg" alt="" />
									<img src="../img/product/product_1/car_9.jpg" alt="" />
									<img src="../img/product/product_1/car_10.jpg" alt="" />
									<img src="../img/product/product_1/car_11.jpg" alt="" />
								</div>
								<button class="btn-next">
									<img src="../img/svg/guide_vr360_r.svg" alt="">
									<img src="../img/svg/guide_vr360_r_on.svg" alt="">
								</button>
							</li>
							<li class="products-lst__item">
								<button class="btn-prev">
									<img src="../img/svg/guide_vr360_l.svg" alt="">
									<img src="../img/svg/guide_vr360_l_on.svg" alt="">
								</button>
								<div id="product" class="prod">
									<img src="../img/product/product_1/car_0.jpg" alt="" class="is-active" />
									<img src="../img/product/product_1/car_1.jpg" alt="" />
									<img src="../img/product/product_1/car_2.jpg" alt="" />
									<img src="../img/product/product_1/car_3.jpg" alt="" />
									<img src="../img/product/product_1/car_4.jpg" alt="" />
									<img src="../img/product/product_1/car_5.jpg" alt="" />
									<img src="../img/product/product_1/car_6.jpg" alt="" />
									<img src="../img/product/product_1/car_7.jpg" alt="" />
									<img src="../img/product/product_1/car_8.jpg" alt="" />
									<img src="../img/product/product_1/car_9.jpg" alt="" />
									<img src="../img/product/product_1/car_10.jpg" alt="" />
									<img src="../img/product/product_1/car_11.jpg" alt="" />
								</div>
								<button class="btn-next">
									<img src="../img/svg/guide_vr360_r.svg" alt="">
									<img src="../img/svg/guide_vr360_r_on.svg" alt="">
								</button>
							</li>
							<li class="products-lst__item">
								<button class="btn-prev">
									<img src="../img/svg/guide_vr360_l.svg" alt="">
									<img src="../img/svg/guide_vr360_l_on.svg" alt="">
								</button>
								<div id="product" class="prod">
									<img src="../img/product/product_1/car_0.jpg" alt="" class="is-active" />
									<img src="../img/product/product_1/car_1.jpg" alt="" />
									<img src="../img/product/product_1/car_2.jpg" alt="" />
									<img src="../img/product/product_1/car_3.jpg" alt="" />
									<img src="../img/product/product_1/car_4.jpg" alt="" />
									<img src="../img/product/product_1/car_5.jpg" alt="" />
									<img src="../img/product/product_1/car_6.jpg" alt="" />
									<img src="../img/product/product_1/car_7.jpg" alt="" />
									<img src="../img/product/product_1/car_8.jpg" alt="" />
									<img src="../img/product/product_1/car_9.jpg" alt="" />
									<img src="../img/product/product_1/car_10.jpg" alt="" />
									<img src="../img/product/product_1/car_11.jpg" alt="" />
								</div>
								<button class="btn-next">
									<img src="../img/svg/guide_vr360_r.svg" alt="">
									<img src="../img/svg/guide_vr360_r_on.svg" alt="">
								</button>
							</li>
						</ul>
					</div>
					<ul class="color-lst">
						<li class="color-lst__item is-active">
							<button type="button" class="color-lst__btn color-lst__btn--1"></button>
							<span class="car-name">LUNAR LUSTER</span>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--2"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--3"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--4"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--5"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--6"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--7"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--8"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--9"></button>
						</li>
						<li class="color-lst__item">
							<button type="button" class="color-lst__btn color-lst__btn--10"></button>
						</li>
					</ul>
				</div>
			</div>
			<div class="section-interior">
				<div class="container">
					<strong class="title">내장</strong>
					<ul class="interior-image">
						<li id-interior="idImg1" class="interior-image__item is-active">
							<img src="../img/product/LS_500h_Luxury_interior_01_1.jpg" alt="">
						</li>
						<li id-interior="idImg2" class="interior-image__item">
							<img src="../img/product/LS_500h_Luxury_interior_02_1.jpg" alt="">
						</li>
						<li id-interior="idImg3" class="interior-image__item">
							<img src="../img/product/LSC6025_B_Platinum_Crimson.jpg" alt="">
						</li>
					</ul>
					<ul class="color-lst">
						<li class="color-lst__item is-active">
							<button data-interior="idImg1" type="button"
								class="color-lst__btn color-lst__btn--11"></button>
							<span class="car-name">HAZEL</span>
						</li>
						<li class="color-lst__item">
							<button data-interior="idImg2" type="button"
								class="color-lst__btn color-lst__btn--3"></button>
							<span class="car-name">Black</span>
						</li>
						<li class="color-lst__item">
							<button data-interior="idImg3" type="button"
								class="color-lst__btn color-lst__btn--8"></button>
							<span class="car-name">CRIMSON & BLACK (PLATINUM 전용)</span>
						</li>
					</ul>
					<div class="products-car">
						<strong class="title">내장</strong>
						<ul class="product-image">
							<li class="product-image__item" data-aos="fade-up" data-aos-duration="1000">
								<img src="../img/product/LS_500h_gallery_01_w_2.jpg" alt="">
							</li>
							<li class="product-image__item" data-aos="fade-up" data-aos-duration="1000">
								<img src="../img/product/LS_500h_gallery_02_w_1.jpg" alt="">
							</li>
							<li class="product-image__item" data-aos="fade-up" data-aos-duration="1000">
								<img src="../img/product/LS_500h_gallery_03_w_1.jpg" alt="">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="model-cont">
				<div class="container">
					<div class="btns-prev-next">
						<div class="btn-prev">
							<a href="#none" class="ico-link">
								<img src="../img/svg/ico_next.svg" alt="">
								<span class="btn-text">스펙</span>
							</a>
						</div>
						<div class="btn-next">
							<a href="#none" class="ico-link">
								<span class="btn-text">퍼포먼스</span>
								<img src="../img/svg/ico_next.svg" alt="">
							</a>
						</div>
					</div>
					<div class="download">
						<a href="#none" class="download__link">
							<img src="../img/icon/icon_brochure.svg" alt="">
							<span class="download__name">카탈로그 다운로드</span>
						</a>
						<a href="#none" class="download__link">
							<img src="../img/icon/icon_small_lexus.svg" alt="">
							<span class="download__name">카탈로그 다운로드</span>
						</a>
					</div>
				</div>
			</div>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
		@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	@@include('./include/script.html')
</body>

</html>