@font-face {
  font-family: 'NobleB';
  src: url('../../../font/NobelBold.woff') format('woff');
  font-weight: 400
}

@font-face {
  font-family: 'SDGothicNeoSB-SemiBold';
  src: url('../../../font/SDGothicNeoSB-SemiBold.woff') format('woff');
  font-weight: 500
}

@font-face {
  font-family: 'SDGothicNeoR-Regular';
  src: url('../../../font/SDGothicNeoR-Regular.woff') format('woff');
  font-weight: 400
}

@font-face {
  font-family: 'NobelR-Regular';
  src: url('../../../font/NobelR-Regular.woff') format('woff');
  font-weight: 300
}

@font-face {
  font-family: 'NobelBook-Regular';
  src: url('../../../font/NobelBook-Regular.woff') format('woff');
  font-weight: 200
}

@font-face {
  font-family: 'NobelL-Light';
  src: url('../../../font/NobelL-Light.woff') format('woff');
  font-weight: 100
}