@@include('./include/head.html',{"title": "Document Title - Main : UIT Gulp Project", "list_title": "List Title - Main_01 : Main"})
<body data-pagestatus="new : 2019.10.10">
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			<div class="container">
				<section class="section_banner">
					<div class="content">
						<h2 class="content_title"><strong>PREW.VN</strong> học và luyện thi Online <br><span>hiệu quả, tiết kiệm</span></h2>
						<p class="content_desc">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình <br>bày và dàn trang. Lorem Ipsum đã được sử dụng như một văn bản.</p>
						<form action="" class="search">
							<input type="text" placeholder="Tìm kiếm tài liệu, khóa học online,..." class="search_input">
							<button class="btn search_btn" type="submit"><i class="ico_search"></i></button>
						</form>
						<div class="member">
							<strong class="member_title">Góc học tập cùng Prew</strong>
							<ul class="member_lst">
								<li class="member_item">
									<img src="../img/" alt="">
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>
